// colors
$color_link-color:  #0096E0;
$color_link_hover_color: #23527c;
$color_cape_cod_approx: #0a0b09;
$color_russett_approx: #323e1f;
$color_salmon_approx: #b7df74;
$color_copperfield_approx: #94ba63;

$flame-pea: #181D11;
$list-item: #181D11;
$list-bg: #181D11;


// url
$url_1: url(../../images/ic-home-bg.png);
$url_9: url(../../images/ic-title-bg.png);
$url_10: url(../../images/ic-folder.png);
$url_14: url(../../images/tn/error-bg.png);

// gradients
//$linear_gradient_1: linear-gradient(-81deg, #181D11 1%, #181D11 100%);
$linear_gradient_1: linear-gradient(-81deg, #123241 1%, #1b3846 100%);
$radial_gradient_1: radial-gradient(50% 79%, #0096e0 32%, #429ecb 79%);

@import "../../main.scss";


