/vendor
.env
.idea
._.DS_Store
/node_modules
/public/css/maps
/bourbon
/.public
npm-debug.log
bourbon
.DS_Store
/storage/debugbar
/docker
/resources/assets/scripts/clip_bk
*.map
!spec/*.map
/public/[0-9]*
