@font-face {
  font-family: Open-Sans-Regular;
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/opensans-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../../fonts/opensans-regular-webfont.woff') format('woff'),
    url('../../fonts/opensans-regular-webfont.svg#Open-Sans-Regular')
      format('svg');
}

@font-face {
  font-family: Open-Sans-Semibold;
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/opensans-semibold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('../../fonts/opensans-semibold-webfont.woff') format('woff'),
    url('../../fonts/opensans-semibold-webfont.svg#Open-Sans-Semibold')
      format('svg');
}

@font-face {
  font-family: Open-Sans-Bold;
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/opensans-bold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/opensans-bold-webfont.woff2') format('woff2'),
    url('../../fonts/opensans-bold-webfont.woff') format('woff'),
    url('../../fonts/opensans-bold-webfont.svg#Open-Sans-Bold') format('svg');
}

@font-face {
  font-family: Open-Sans-Light;
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/opensans-light-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/opensans-light-webfont.woff2') format('woff2'),
    url('../../fonts/opensans-light-webfont.woff') format('woff'),
    url('../../fonts/opensans-light-webfont.svg#Open-Sans-Light') format('svg');
}

@font-face {
  font-family: Open-Sans-Italic;
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/opensans-italic.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/opensans-italic.woff2') format('woff2'),
    url('../../fonts/opensans-italic.woff') format('woff'),
    url('../../fonts/opensans-italic.svg#Open-Sans-Italic') format('svg');
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-padding-start: 0;
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font: 1.42857143 14px 'Open-Sans-Regular', 'Helvetica Neue', Helvetica, Arial,
    sans-serif !important;
  color: #404040;
  background: #fff;
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

p {
  font-size: 12px;
  line-height: 22px;
}

.pull-left {
  float: left !important;
}

.trigger {
  background: transparent !important;
  padding: 32px 17px !important;
  border-right: 1px solid rgba(216, 216, 216, 0.5) !important;
  cursor: pointer;
}

@media all and (min-width: 480px) {
  .trigger {
    padding: 33px 20px !important;
  }
}

.trigger:before {
  background: url(../../images/ic_sprite.svg) no-repeat 0 0;
  content: '';
  display: block;
  height: 16px;
  width: 26px;
  filter: brightness(0) invert(1);
}

.not-front .trigger:before {
  filter: none;
}

.navbar-header {
  display: flex;
}

.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}

nav.navbar {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 0;
  margin-bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  align-items: center;
}

.front-row-top-wrap {
  border-bottom: 1px solid rgba(242, 242, 242, 0.3);
  box-shadow: none;
  margin-top: -1px;
  position: relative;
  z-index: 1;
}

.olc .front-row-top-wrap {
  background: #fff;
}

.front-row-top-wrap nav.navbar {
  border-bottom: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar:before,
.navbar:after {
  display: none !important;
}

.navbar-brand,
.navbar-brand:hover {
  color: #fff;
  font-size: 19px;
  font-family: Open-Sans-Bold;
  text-transform: uppercase;
  height: auto;
  position: relative;
  padding: 0 !important;
  margin: 21px 0 21px 15px !important;
}

@media all and (min-width: 500px) {
  .navbar-brand,
  .navbar-brand:hover {
    margin: 20px 15px !important;
    padding: 0 20px 0 0 !important;
  }
}

.navbar-brand span {
  color: rgba(255, 255, 255, 0.7);
  display: block;
}

.guide-link {
  padding: 0 12px 8px;
  text-align: right;
  white-space: nowrap;
}

.guide-link a {
  color: #404040;
  font-size: 14px;
  text-transform: uppercase;
}

.rc .guide-link a {
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.8);
  padding: 4px 10px;
  text-decoration: none;
  text-transform: none;
}

.rc .guide-link a:hover {
  border-color: #fff;
  color: #fff;
}

.navbar-right {
  border: 0 !important;
  padding-left: 0 !important;
  /* padding-right: 15px; */
  align-items: center;
}

.not-front .navbar-right {
  border-left: 1px solid #e7e9eb !important;
  padding-left: 30px !important;
}

.navbar-right ul {
  align-items: center;
  display: flex;
  float: right;
  justify-content: space-between;
  margin-bottom: 0;
  margin-right: 10px;
  max-width: 90px;
}

.navbar-right ul li {
  list-style: none;
  margin-right: 4px;
}

.navbar-right ul li a {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  font-size: 14px;
  padding: 2px 6px;
  text-transform: uppercase;
}

.navbar-right ul li a:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-right ul li a.active {
  border-radius: 4px;
  color: #fff;
  /* font-family: Open-Sans-Semibold; */
}

.not-front .navbar-right {
  border-left: 1px solid #e7e9eb;
  padding-left: 30px;
  padding-right: 0;
}

.not-front .navbar-right .form-group {
  margin-bottom: 0;
  width: 100%;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100%;
}

#sidebar-wrapper {
  background-image: linear-gradient(-81deg, #291212 1%, #40302c 100%);
  top: 0;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 280px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  color: #aaa;
  line-height: normal;
  text-indent: inherit;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999;
  padding: 18px 14px 18px 32px;
  color: #fff;
}

.sidebar-nav li a span {
  width: 71%;
  display: inline-block;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 20px;
  height: auto;
  overflow-x: hidden;
}

.sidebar-nav > .sidebar-brand a span {
  font-weight: normal;
  display: block;
  color: #fff !important;
  color: rgba(255, 255, 255, 0.7);
}

.sidebar-brand a {
  color: #fff !important;
  position: relative;
}

.side-collapse,
.sidebar-collapse {
  top: 44px;
  bottom: 0;
  right: 0;
  width: 100%;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
  background: #f9f9f9;
  border-left: 1px solid #bcbcbc;
  position: absolute;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.side-collapse-container,
.sidebar-collapse-container {
  width: 100%;
  position: relative !important;
  right: 0;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
  background: #fff;
  min-height: 520px;
}

.sidebar-nav > .sidebar-brand a,
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  text-transform: uppercase;
  font-size: 19px;
  font-family: Open-Sans-Bold;
  padding: 40px 32px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0;
}

.sidebar-collapse {
  right: auto;
  left: 0;
  width: 280px;
  position: fixed;
  border-left: 0;
  z-index: 10000;
}

.sidebar-collapse.in {
  width: 0;
  border: 0;
}

.sidebar-collapse-container {
  right: auto;
  left: 0;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
}

.sidebar-nav li:not(.sidebar-brand) {
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.advance-search a,
footer a {
  color: rgba(255, 255, 255, 0.69);
}

.petroleum-wrapper {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.petroleum-mineral {
  display: inline-block;
  position: relative;
}

body.rc .petroleum-mineral {
  min-height: 450px;
  padding-bottom: 75px;
  padding-top: 110px;
}

.petroleum-mineral {
  padding: 75px 225px 75px 30px;
  color: #fff;
  background: rgba(0, 0, 0, 0.45);
  width: 747px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  min-height: 488px;
  margin-bottom: 15px;
}

.petroleum-mineral .repo-description {
  font-size: 26px;
  line-height: 34px;
}

.petroleum-mineral .large-title {
  font-family: Open-Sans-Light;
  font-size: 58px;
  line-height: 66px;
}

.petroleum-mineral .large-title span {
  display: block;
}

.landing_section_logos .partners img {
  margin-bottom: 15px;
}

.hero-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 7%;
  /* padding-bottom: 50px; */
  position: relative;
}

.country .hero-image:before {
  background-image: linear-gradient(
    180deg,
    #131317 -60.19%,
    rgba(65, 66, 99, 0.09) 100%
  );
  top: 0;
}

.olc .hero-image {
  margin-top: 0;
}

.hero-image {
  margin-top: -82px;
}

@media all and (min-width: 420px) {
  .hero-image:before {
    padding-bottom: 70px;
  }
}

.hero-wrap {
  justify-content: space-between;
  padding: 60px 20px 50px;
  position: relative;
}

@media all and (min-width: 768px) {
  .hero-wrap {
    align-items: center;
    display: flex;
    padding-right: 0;
    padding-bottom: 60px;
  }
}

.hero-title {
  color: #fff;
  max-width: 630px;
}

@media all and (min-width: 769px) and (max-width: 1023px) {
  .hero-title {
    padding-right: 40px;
  }
}

@media all and (min-width: 1024px) {
  .hero-title {
    margin-left: 40px;
    padding-right: 0;
  }
}

@media all and (min-width: 1200px) {
  .hero-title {
    margin-left: 60px;
  }
}

.hero-title span {
  font-size: 24px;
  font-family: Open-Sans-Light;
}

.hero-title h1 {
  font-size: 40px;
  font-family: Open-Sans-Bold;
  font-weight: normal;
  line-height: 54px;
  margin-top: 16px;
  max-width: 430px;
}

@media all and (min-width: 600px) {
  .hero-title h1 {
    font-size: 48px;
    line-height: 68px;
  }
}

.search-form .form-group {
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  height: 62px;
  transition: transform 0.3s ease-in-out;
}

.not-front .search-form .form-group {
  background: transparent !important;
  height: 82px;
}

.hero-image .search-form {
  font-size: 16px;
  padding: 0;
  margin-top: 38px;
  max-width: 630px !important;
}

.hero-image .search-form button {
  border: 0;
  color: #fff;
  height: 100%;
  text-transform: uppercase;
  width: 125px;
}

.rc .hero-image .search-form button,
.country .hero-image .search-form button {
  background: #f37456;
}

.rc .hero-image .search-form button:hover,
.country .hero-image .search-form button:hover {
  background: #f1603e;
}

.olc .hero-image .search-form button {
  background: #27ae60;
}

.olc .hero-image .search-form button:hover {
  background: #249955;
}

/* 
        .hero-image .search-form .form-group input {
            width: -webkit-calc(100% - 126px);
            width: calc(100% - 126px);
            border: 0;
            line-height: 18px;
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.45)), to(rgba(255, 255, 255, 0.45)));
            background: linear-gradient(rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45));
            float: left;
            padding: 19px;
            color: #fff;
            -webkit-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px
        } */
/* 
        .hero-image .search-form .form-group input:-webkit-autofill {
            -webkit-appearance: none!important
        } */

.hero-image .search-form .form-group input:-webkit-autofill,
.hero-image .search-form .form-group input:-webkit-autofill:hover,
.hero-image .search-form .form-group input:-webkit-autofill:focus,
.hero-image .search-form .form-group input:-webkit-autofill:active {
  -webkit-background-clip: text;
}

.hero-image .search-form .form-group:focus {
  transform: none;
}

.hero-image .search-form .form-group:before {
  background: url(../../images/ic_sprite.svg) no-repeat -36px 0;
  content: '';
  height: 22px;
  margin: 0 14px;
  width: 32px;
}

@media all and (min-width: 500px) {
  .hero-image .search-form .form-group:before {
    width: 22px;
  }
}

@media all and (min-width: 600px) {
  .search-form .form-group {
    height: 65px;
  }

  .search-form .form-group:before {
    margin: 0 20px 0 26px;
  }
}

@media all and (min-width: 900px) {
  .search-form .form-group:before {
    margin: 0 20px 0 26px;
  }
}

.hero-image .search-form .form-group .form-control {
  background: transparent !important;
  border: 0;
  color: #fff;
  font-size: 16px !important;
  margin: 0 !important;
  padding: 0 15px 0 0 !important;
  height: 100%;
  width: calc(100% - 175px);
}

.search-form .form-group .form-control::-webkit-input-placeholder {
  color: #fff;
  font-size: 16px;
}

.search-form .form-group .form-control::-moz-placeholder {
  color: #fff;
  font-size: 16px;
}

@media all and (min-width: 900px) {
  .search-form .form-group .form-control {
    font-size: 18px !important;
  }

  .search-form .form-group .form-control::-webkit-input-placeholder {
    font-size: 18px;
  }

  .search-form .form-group .form-control::-moz-placeholder {
    font-size: 18px;
  }
}

.hero-image .search-form .search-button {
  max-width: 126px;
  float: left;
  border: 0;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  padding: 17px 20px;
  color: #fff;
  -webkit-box-shadow: inset 0 2px 5px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 2px 5px 0 rgba(255, 255, 255, 0.2);
}

.olc .hero-wrap {
  align-items: flex-start;
}

.country .hero-wrap {
  padding-bottom: 80px;
}

.olc .hero-right-wrap {
  margin-top: 40px;
}

.olc .hero-title h1 {
  max-width: 550px;
}

.country .hero-title h1 {
  max-width: 592px;
}

.olc .search-form .form-group {
  background: rgba(0, 0, 0, 0.5);
}

.olc .hero-image {
  background-position: left center;
}

.country .hero-image {
  padding-top: 80px;
}

.olc .count-countries {
  background-color: #393336;
}

.olc .count-resources {
  background-color: #526c9b;
}

.olc .count-resources a:before,
.olc .count-resources a:after {
  background-position: -202px -31px;
  width: 82px;
}

.olc .count-resources a:before {
  left: 10px;
  top: -20px;
  transform: rotate(180deg);
}

.olc .count-resources a:after {
  left: auto;
  right: 10px;
}

.olc .count-recent {
  background-color: #335640;
}

.olc .explore-contracts {
  background-color: #154a85 !important;
}

.hero-right-wrap .ccsi {
  display: block;
  margin: 0 auto 32px;
}

.annotation-wrapper {
  background: rgba(58, 49, 49, 0.8);
  border-radius: 16px;
  max-height: 320px;
  padding: 40px 36px;
  position: relative;
}

@media all and (min-width: 600px) and (max-width: 767px) {
  .annotation-wrapper {
    padding: 45px 42px;
  }
}

@media all and (min-width: 768px) {
  .annotation-wrapper {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    max-width: 310px;
    padding-bottom: 40px;
  }
}

/* @media  all and (min-width: 900px) {
        .annotation-wrapper {
            padding: 50px 56px 60px;
        }
    } */

.annotation-wrapper > span {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  font-size: 12px;
  font-family: Open-Sans-Semibold;
  margin-bottom: 24px;
  white-space: nowrap;
}

@media all and (min-width: 600px) and (max-width: 767px) {
  .annotation-wrapper span {
    font-size: 13px;
  }
}

@media all and (min-width: 900px) {
  .annotation-wrapper span {
    font-size: 14px;
  }
}

.view {
  bottom: 70px;
  transition: all 0.3s ease-in-out;
}

/* @media  all and (min-width: 600px) and (max-width: 767px) {
        .view {
            bottom: 90px;
        }
    } */

.view:hover {
  text-decoration: none;
}

.view-more {
  bottom: 80px;
  color: #fff;
  position: absolute;
}

.view-more:after {
  background: url(../../images/ic_sprite.svg) no-repeat -74px 0;
  display: inline-block;
  content: '';
  height: 14px;
  // margin-left: 16px;
  opacity: 0.5;
  width: 43px;
  transition: opacity 0.3s ease-in-out;
}

.view-more:hover {
  text-decoration: none;
}

.view-more:hover .view-more:after {
  // margin-left: 22px;
  opacity: 1;
}

.annotation-wrap .slick-dots {
  display: flex !important;
  margin: 30px 0 0;
}

.annotation-wrap .slick-dots li {
  list-style: none;
  margin-right: 4px;
  height: 2px;
  width: 24px;
}

.annotation-wrap .slick-dots button {
  background: rgba(196, 196, 196, 0.5);
  border: 0;
  border-radius: 2px;
  height: 2px;
  text-indent: -9999px;
  width: 24px;
}

.annotation-wrap .slick-dots button:hover {
  background: rgba(196, 196, 196, 0.75);
}

.annotation-wrap-title {
  margin-bottom: 30px;
}

.annotation-wrap-title a {
  color: #fff;
  font-size: 20px;
  font-family: Open-Sans-Semibold;
  line-height: 30px;
  text-decoration: underline;
}

.annotation-wrap-title a:hover {
  color: #fff;
}

.get-started {
  margin: 40px 0;
}

@media all and (min-width: 768px) {
  .get-started {
    margin-bottom: 0;
  }
}

.get-started h3 {
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-family: Open-Sans-Semibold;
  margin: 0;
}

.get-started h3 a {
  color: #fff;
  position: relative;
}

.get-started h3 a:after {
  background: url(../../images/ic_sprite.svg) no-repeat -74px 0;
  display: inline-block;
  content: '';
  height: 14px;
  margin-left: 9px;
  width: 43px;
  transition: margin-left 0.3s ease-in-out;
  transform: scale(0.75);
}

.get-started h3 a:hover {
  text-decoration: none;
}

@media all and (min-width: 600px) {
  .get-started h3 {
    font-size: 20px;
  }

  .get-started h3 a:after {
    margin-left: 16px;
    transform: scale(1);
  }
}

@media all and (min-width: 900px) {
  .get-started h3 {
    font-size: 24px;
  }
}

.hero-title p {
  font-size: 16px;
  font-family: Open-Sans-Semibold;
  line-height: 28px;
  margin-top: 28px;
  padding-right: 70px;
}

@media all and (min-width: 480px) {
  .hero-title p {
    font-size: 17px;
  }
}

@media all and (min-width: 600px) {
  .hero-title p {
    font-size: 18px;
    line-height: 30px;
  }
}

.content-count-wrap {
  margin: 0;
}

.content-count-wrap > div {
  overflow: hidden;
}

@media all and (min-width: 600px) {
  .content-count-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .content-count-wrap > div {
    margin: 0 !important;
    width: 50%;
  }

  .country .content-count-wrap > div {
    width: 100%;
  }
}

@media all and (min-width: 800px) {
  .country .content-count-wrap > div {
    width: 33.33%;
  }
}

@media all and (min-width: 992px) {
  .content-count-wrap > div {
    width: 25%;
  }
}

.count-block {
  border: 0;
  /* cursor: pointer; */
  height: 356px;
  padding: 0;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.count-block:hover {
  transform: scale(1.05);
  z-index: 2;
}

.country .count-countries:hover {
  transform: none;
}

.count-block:hover .view {
  color: #fff;
}

.count-block:hover .view:after {
  border-left-color: #fff;
}

.count-block a {
  display: block;
  padding: 130px 40px 90px;
  position: relative;
  width: 100%;
  height: 100%;
}

.country .count-countries a {
  pointer-events: none;
}

@media all and (min-width: 900px) {
  .country .count-block a {
    padding-left: 60px;
  }
}

.count-block a:hover {
  text-decoration: none;
}

.count-block a:before,
.count-block a:after {
  background-image: url(../../images/ic_sprite.svg);
  background-position: no-repeat;
  content: '';
  position: absolute;
}

.count-block a:before {
  left: 0;
  top: 0;
}

.count-block a:after {
  right: 12px;
  bottom: -10px;
}

.count-block h2 {
  color: #fff;
  font-size: 32px;
  font-family: Open-Sans-Regular;
  max-width: 260px;
  position: relative;
  text-transform: capitalize;
}

.country .count-search {
  background: #f37456;
}

.count-search a:before,
.count-search a:after {
  background-position: 0 -31px;
  height: 110px;
  opacity: 0.2;
  width: 72px;
}

.count-countries {
  background-color: #385363;
}

.count-countries a:before {
  background: url(../../images/ic-map.svg) no-repeat 0 0;
  height: 240px;
  max-width: 438px;
  top: 58px;
  left: -38px;
  width: 100%;
}

.country .count-countries a:before {
  background-size: contain;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
}

.count-resources {
  background-color: #372f2f;
}

.count-resources a:before,
.count-resources a:after {
  background-position: -81px -31px;
  height: 132px;
  width: 110px;
}

.count-resources a:before {
  left: auto;
  right: 60px;
  top: -3px;
}

.count-resources a:after {
  bottom: -25px;
  left: 10px;
}

.count-recent {
  background-color: #01665e;
}

.count-recent a:before,
.count-recent a:after {
  background-position: 0 -31px;
  filter: brightness(0) invert(1);
  height: 110px;
  opacity: 0.4;
  width: 72px;
}

.view {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 56px;
  padding: 6px 14px 6px 17px;
  position: absolute;
  text-transform: uppercase;
  width: 79px;
}

.view:after {
  border-left: 5px solid rgba(255, 255, 255, 0.7);
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  content: '';
  float: right;
  margin-left: 8px;
  margin-top: 7px;
}

.view:hover {
  color: #fff;
}

.view:hover .view:after {
  border-left-color: #fff;
}

.hero-image:before {
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.9;
  position: absolute;
  width: 100%;
}

.petroleum-mineral input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8) !important;
}

.advance-search {
  font-size: 12px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.69);
  text-decoration: underline;
  margin-top: 6px;
}

.petroleum-list-each {
  border-right: 2px solid rgba(243, 115, 86, 0.2);
}

/* .heading2 {
            margin: 0;
            padding-bottom: 30px;
            color: #ebfeff
        } */

.landing_section_logos {
  /* text-align: center; */
  padding: 0 15px 24px 15px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(60%, rgba(0, 0, 0, 0.4)),
    to(rgba(0, 0, 0, 0.5))
  );
  background: linear-gradient(
    transparent 0,
    rgba(0, 0, 0, 0.4) 60%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.country .landing_section_logos {
  background: none;
}

.landing_section_logos .partners {
  text-align: right;
  /* padding-right: 35px; */
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.landing_section_logos .olc-partners a:first-child img {
  width: 260px;
  height: 55px;
}

.landing_section_logos .olc-partners a:nth-child(2) img {
  width: 84px;
  height: 55px;
}

.landing_section_logos .partners,
.landing_section_logos .donors {
  display: inline-block;
  text-align: left;
}

/* .landing_section_logos .donors {
            padding-left: 35px;
        } */

.landing_section_logos p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 0.85px;
  line-height: 16px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.65);
}

.landing_section_logos .partners a,
.landing_section_logos .donors a {
  margin-right: 30px;
}

footer .partner-wrapper {
  text-align: left;
}

footer p {
  color: rgba(255, 255, 255, 0.36);
}

.partner-wrapper ul {
  padding: 0;
}

.partner-wrapper li {
  list-style: none;
}

.tooltip {
  position: absolute;
  text-align: center;
  font-size: 11px;
  background: #fff;
  border: solid 1px #aaa;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  pointer-events: none;
}

.search-form .form-control::-webkit-input-placeholder {
  color: rgba(64, 64, 64, 0.5);
}

.search-form .form-control {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 90%;
  font-size: 14px;
  line-height: 20px;
  height: auto;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 12px;
  padding-right: 12px;
  background: transparent;
}

.search-form > .form-group {
  margin: 0;
}

footer {
  clear: both;
  background: #404040;
  padding-top: 40px;
  padding-bottom: 20px;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer ul li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}

footer ul li a {
  font-size: 13px;
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
}

footer .partner-description {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: left;
}

.footer__wrap {
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.footer-bottom {
  float: right;
  margin-top: 0;
}

.footer-bottom .footer-description {
  float: left;
}

.footer-bottom .footer-description img {
  margin-left: 4px;
}

@media (min-width: 768px) {
  .navbar {
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }

  .navbar-header {
    float: left;
  }

  .navbar-static-top {
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  footer .partner-description {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .petroleum-mineral {
    width: -webkit-calc(100% - 186px);
    width: calc(100% - 186px);
    padding: 140px 227px 84px 30px;
  }

  .petroleum-mineral .large-title {
    font-size: 42px;
    line-height: 50px;
  }
}

.language-selector {
  position: relative !important;
  right: auto !important;
  top: auto !important;
}

.landing_section_logos {
  background: transparent !important;
  margin: 0 auto;
  padding: 0 !important;
  max-width: 1100px;
  position: relative;
}

.landing_section_logos h3 {
  font-size: 14px;
  text-transform: uppercase;
}

.landing_section_logos > div > a {
  display: inline-block;
  margin-bottom: 15px;
}

.landing_section_logos img {
  max-height: initial !important;
}

@media all and (min-width: 768px) {
  .landing_section_logos {
    display: flex;
    justify-content: space-between;
    padding: 0 !important;
  }
}

.landing_section_logos > div {
  text-align: left !important;
}

.landing_section_logos > div h3 {
  color: #fff;
  margin-bottom: 20px;
  margin-top: 0;
}

.landing_section_logos .partners {
  border: 0 !important;
}

.menu-list {
  margin: 30px auto !important;
  width: 100% !important;
}

.menu-list-each li {
  margin-bottom: 10px;
  margin-right: 14px;
}

@media all and (min-width: 768px) {
  .menu-list-each li {
    margin-right: 40px;
  }
}

.menu-list-each li a {
  color: #fff !important;
  font-size: 14px;
  text-transform: uppercase;
}

.menu-list-each li a:hover {
  text-decoration: underline;
}

.menu-list-each li:after {
  display: none;
}

.footer-bottom {
  clear: both;
  margin: 0;
  text-align: left;
  width: 100%;
}

.footer-bottom .footer-description {
  color: #fff;
}

@media all and (min-width: 895px) {
  .footer-bottom .footer-description {
    float: right !important;
  }
}

@media all and (min-width: 895px) {
  .mini__menu {
    text-align: left;
  }

  .mini__menu .partner-inner {
    display: flex;
    width: 45%;
  }

  .mini__menu .partner-inner-each {
    float: none !important;
    width: auto !important;
  }

  .mini__menu .partner-inner-each:nth-child(2) {
    margin-left: 30px;
  }
}

@media all and (min-width: 895px) and (min-width: 1024px) {
  .mini__menu .partner-inner-each:nth-child(2) {
    margin-left: 80px;
  }
}

.mini__menu .partner-inner-each li {
  margin-bottom: 20px;
}

.mini__menu .partner-inner-each li a img {
  opacity: 0.5;
}

@media all and (min-width: 895px) and (max-width: 1000px) {
  .mini__menu .partner-inner-each li a img.ccsi {
    width: 200px;
  }
}

@media all and (min-width: 895px) {
  .mini__menu .partner-inner + .partner-right {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }
}

@media all and (min-width: 895px) {
  .mini__menu .partner-inner + .partner-right .footer-bottom {
    margin-top: 30px;
  }
}

.mini__menu .partner-inner + .partner-right .menu-list-each li:last-child {
  margin-right: 0;
}

@media all and (min-width: 895px) {
  .mini__menu .partner-inner + .partner-right .menu-list-each li {
    margin-right: 10px;
  }
}

@media all and (min-width: 1100px) {
  .mini__menu .partner-inner + .partner-right .menu-list-each li {
    margin-right: 20px;
  }
}

@media all and (min-width: 1200px) {
  .mini__menu .partner-inner + .partner-right .menu-list-each li {
    margin-right: 30px;
  }
}

footer {
  background: #1d6690;
  margin-top: -1px;
  padding: 4px 20px 0;
}

@media all and (min-width: 768px) {
  footer {
    padding-top: 40px;
  }
}

@media all and (min-width: 895px) {
  footer {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

.partner-wrapper {
  margin-top: 0;
}

@media all and (min-width: 768px) {
  .olc .partner-wrapper .mini__menu {
    display: flex;
    justify-content: space-between;
  }

  .olc .partner-wrapper .mini__menu:before {
    display: none;
  }

  .olc .partner-wrapper .mini__menu .landing_section_logos {
    margin: 0;
  }

  .olc .partner-wrapper .mini__menu .menu-list {
    margin: 10px auto !important;
  }

  .olc .partner-wrapper .mini__menu .menu-list li {
    margin-right: 14px;
  }

  .olc footer-bottom {
    margin-top: 30px;
  }
}

.content-static-wrap {
  padding: 40px 20px;
}

.content-static-wrap h1 {
  font-size: 32px;
  line-height: 50px;
  margin: 0 0 40px;
}

.content-static-wrap ul.guide-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.guide-nav li {
  list-style: none;
  margin-right: 40px;
}

.guide-nav li a {
  color: #000;
  font-size: 14px;
  padding: 0 5px;
  text-decoration: none;
}

.guide-nav li.active:after {
  background: #f1755b;
  border-radius: 4px;
  content: '';
  display: block;
  height: 5px;
  margin-top: 6px;
  width: 100%;
}

.content-static-wrap {
  max-width: 1060px;
}

.content-static-wrap h2 {
  font-size: 32px;
  font-family: Open-Sans-Bold;
  margin: 0 0 30px;
  padding-top: 30px;
}

.content-static-wrap ul li,
.content-static-wrap ol li,
.content-static-wrap p {
  font-size: 14px;
}

.content-static-wrap ul li,
.content-static-wrap ol li {
  padding-bottom: 4px;
}

.content-static-wrap h3 {
  font-size: 20px;
  font-family: Open-Sans-Bold;
  margin: 0 0 14px;
}

.content-static-wrap h3 ~ ul,
.content-static-wrap h3 ~ ol,
.content-static-wrap ol {
  margin-left: 0;
  padding-left: 18px;
}

.content-static-wrap ul ~ p,
.content-static-wrap ol ~ p {
  margin: 0;
}

.page-break {
  margin-bottom: 30px;
}

.page-break:after {
  background: #000;
  content: '';
  display: block;
  height: 1px;
  margin: 68px auto 0;
  width: 214px;
}

.guide-steps {
  margin-bottom: 40px;
}

.img-wrap {
  margin-bottom: 20px;
}

.img-wrap img {
  box-shadow: 0 10px 50px rgba(49, 69, 244, 0.1);
  width: 100%;
}

.row-reverse {
  flex-direction: row-reverse;
}

.font-italic {
  font-family: Open-Sans-Italic;
}

.font-bold {
  font-family: Open-Sans-Bold;
}

.training-wrap .img-wrap {
  margin-right: 30px;
  width: 175px;
}

.pagination-static {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.pagination-static > div > span {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.pagination-static > div a {
  color: #333;
  font-size: 14px;
  text-decoration: underline;
  text-transform: uppercase;
}

.pagination-static > .previous a:before,
.pagination-static > .next a:after {
  background: url('../images/ic-side-arrow.svg') no-repeat center;
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
}

.pagination-static > .next {
  text-align: right;
}

.pagination-static > .previous a:before {
  margin-left: -21px;
  margin-right: 12px;
}

.pagination-static > .next a:after {
  margin-right: -21px;
  margin-left: 12px;
  transform: rotate(180deg);
}

.content-static-wrap ul.pagination {
  margin-left: 0;
}

@media all and (min-width: 450px) {
  .guide-nav li {
    list-style: none;
    margin-right: 64px;
  }
}

@media all and (min-width: 768px) {
  .content-static-wrap {
    padding: 80px 20px;
  }

  .content-static-wrap h1 {
    font-size: 48px;
    line-height: 64px;
    margin: 0 0 60px;
  }

  .content-static-wrap ul.guide-nav {
    margin: 0 0 30px;
  }

  .guide-steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  .img-wrap {
    width: 40%;
  }

  .step-wrap {
    width: 54%;
  }

  .page-break {
    margin-bottom: 68px;
  }

  .training-wrap .step-wrap {
    width: 80%;
  }
}

.not-front .mini__menu .partner-inner {
  margin: 0 -20px;
}

@media all and (min-width: 895px) {
  .not-front .mini__menu .partner-inner {
    margin: 0;
  }
}

@media all and (min-width: 895px) and (max-width: 980px) {
  .partner-inner ul li {
    display: inline-block;
    margin: 10px 20px;
    text-align: center;
  }

  .mini__menu .partner-inner {
    width: 100%;
  }
}

.research-title h1 {
  color: #fff;
  margin-bottom: 20px;
}

.research-title p {
  color: #fff;
  font-size: 16px;
  font-family: Open-Sans-Semibold;
  line-height: 33px;
}

.page-research-and-analysis .content-static-wrap {
  max-width: 100%;
  padding: 0;
}

.page-research-and-analysis .hero-wrap {
  clear: both;
  margin: 0 auto;
  max-width: 840px;
}

.page-research-and-analysis .hero-image {
  padding-bottom: 90px;
}

.page-research-and-analysis .navbar {
  box-shadow: none;
  border-bottom: 1px solid rgba(242, 242, 242, 0.3);
}

.page-research-and-analysis .trigger:before {
  filter: brightness(0) invert(1);
}

.page-research-and-analysis .not-front .navbar-brand,
.page-research-and-analysis .not-front .navbar-brand:hover {
  color: #fff;
}

.page-research-and-analysis .not-front .navbar-brand span,
.page-research-and-analysis .not-front .navbar-brand span:hover {
  color: rgba(255, 255, 255, 0.7);
}

.research-and-analysis-content-wrap {
  max-width: 840px;
  margin: -90px auto 48px;
  padding: 0 20px;
  position: relative;
}

.featured-box {
  background-color: #385363;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.featured-box a {
  color: #fff;
  display: block;
  /* font-size: 16px;
  line-height: 24px; */
  font-size: 18px;
  line-height: 26px;
  height: 100%;
  padding: 24px;
  position: relative;
  width: 100%;
}

.featured-box:hover {
  transform: scale(1.05);
}

.featured-box:hover a {
  color: #fff;
  text-decoration: none;
}

.featured-box:hover .view {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.7);
}

.featured-box:hover .view:after {
  border-left-color: rgba(0, 0, 0, 0.7);
}

.featured-box span {
  display: block;
  margin-bottom: 6px;
}

.featured-box .date {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  margin-bottom: 0;
}

.featured-box .view {
  bottom: 30px;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 4px 14px 4px 17px;
}

.research-and-analysis-links {
  background: #fff;
  box-shadow: 2px 4px 40px rgba(0, 0, 0, 0.1);
  padding: 24px;
}

.research-and-analysis-links h2 {
  margin-bottom: 40px;
}

.research-and-analysis-link {
  margin-bottom: 30px;
}

.research-and-analysis-link a {
  color: #000;
}

.research-and-analysis-link:hover a {
  color: #f37456;
}

.research-and-analysis-link:hover span {
  color: rgb(243, 116, 86, 0.65);
}

.research-and-analysis-link a:hover {
  text-decoration: none;
}

.research-and-analysis-link .date {
  color: rgba(0, 0, 0, 0.5);
  display: block;
  font-size: 14px;
  margin-top: 8px;
}

@media all and (min-width: 768px) {
  .research-and-analysis-featured-box {
    display: flex;
    justify-content: space-between;
  }

  .featured-box {
    margin-bottom: 40px;
    width: 32%;
  }

  .research-and-analysis-links {
    padding: 38px;
  }
}

@media all and (min-width: 900px) {
  .research-and-analysis-featured-box {
    margin: 0 -40px;
    padding: 0;
  }

  .featured-box a {
    padding: 40px;
  }

  .featured-box .view {
    bottom: 40px;
  }
}
