.navigation > a:nth-child(2) {
    background-position: -474px 13px;
}

.navigation > a:nth-child(3) {
    background: url(../images/ic-nav-annotate.png) no-repeat 16px 14px;
}

.navigation > a:nth-child(4) {
    background: url(../images/ic-nav-metadata.png) no-repeat 16px 14px;
}

.navigation > a:hover {
    opacity: 1;
    background-color: #f0f0f0;
}

.navigation > a.active {
    opacity: 1;
    border-bottom: 1px solid transparent;
    margin-bottom: -1px;
    background-color: #f0f0f0;
}

.metadata-toggle-button span {
    background: #4797DF url(../images/metadata-trigger.png) no-repeat center;
}

.pdf-loading {
    padding: 15px;
}
.search-results-list .close:hover {
    background: #F46A4A url(../images/ic-close-link.png) no-repeat center;
}

.annotation-title {
    margin: 0 20px;
    overflow: hidden;
}

.annotation-title, .metadata-view > div:first-child {
    font-size: 16px;
    background: url(../images/ic-annotate-title.png) no-repeat 1px 23px;
    text-transform: uppercase;
    padding: 20px 0 14px 27px;
    margin-bottom: 20px !important;
    border-bottom: 1px solid #DCDFE2;
}

.metadata-view > div:first-child .metadata-view-footer {
    font-size: 10px;
    text-transform: none;
    padding: 5px 10px 0;
}

.metadata-view > div:first-child {
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

.metadata-view > div:first-child:before {
    content: "";
    background: url(../images/ic-sprite-new.png) no-repeat -407px -123px;
    width: 14px;
    height: 18px;
    float: left;
    margin-right: 6px;
    margin-top: 1px;
}

.metadata-ocid:last-of-type{
    border: 0px;
    padding: 0px;
}
.metadata-info {
    font-size: 13px;
    padding: 18px 18px 10px;
}


.annotation-item .annotation-category-en {
    cursor: pointer;
    color: rgba(64, 64, 64, 0.7);
    padding: 4px 0 0 0;
    font-family: "open-sans-bold";
}

.annotation-item .annotation-category-fr {
    font-style: italic;
    margin: 4px 0;
}

.annotation-item .annotation-item-content, .annotation-item .annotation-item-page {
    padding-left: 10px;
}

.annotation-item > span {
    display: inline-block;
    width: 90%;
    line-height: 18px;
}

.annotation-item .annotation-cluster, div > .annotation-item:first-of-type .annotation-cluster {
    text-transform: uppercase;
    color: #404040;
    font-size: 13px;
    border-top: 1px solid rgb(201, 201, 201);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 7px;
    box-shadow: 0 -1px 0px rgba(201, 201, 201, 0.3);
}

.annotation-item:first-of-type .annotation-cluster, .annotations-list > div:first-of-type .annotation-item:first-of-type .annotation-cluster {
    border: 0;
    box-shadow: none;
    padding-top: 0;
}

.annotations-list > .annotation-item:first-of-type .annotation-cluster {
    border: 0 !important;
    box-shadow: none !important;
    padding-top: 0 !important;
}

.search-result-row:first-of-type {
    margin-top: 14px;
}

.search-result-row > span:first-of-type {
    width: 88%;
    display: inline-block;
}

.search-result-title span:last-child {
    font-family: open-sans-bold;
}

.annotation-sort {
    margin: 0 18px 4px;
}

.annotation-sort > span {
    font-size: 12px;
    color: #fff;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #C5C5C5;
    line-height: 31px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    position: relative;
    padding: 0 20px;
    cursor: pointer;
}

.annotations-topic-list {
    margin: 12px 0 0;
    padding: 8px 0;
}

.annotations-topic-list span {
    color:  #F37356;
    display: inline-block;
    cursor: pointer;
    margin: 0 13px 9px 0;
    font-size: 12px;
    border-radius: 12px;
    padding: 2px 14px;
    background: #e5e5e5;
}

.pdf-zoom-options {
    padding: 4px 0;
    border-left: 1px solid #DCDFE2;
    float: left;
    margin: 0;
    padding: 16px 10px 9px 0px;
}

.pdf-zoom-options + div {
    padding: 16px 10px 9px 0px;
}

.pdf-zoom-options+div {
    float: none;
}

.pdf-zoom-options > span {
    font-size: 12px;
    float: left;
}

.pdf-zoom-options p {
    display: inline-block;
}

.pdf-zoom-options span[class*="scale-"] {
    text-indent: -9999px;
    float: left;
    margin-right: 24px;
    background-color: transparent;
    width: 6px;
    margin-left: 6px;
}

.pdf-zoom-options > .btn-default {
    background: #fff;
    border: 1px solid #ccc;
    text-align: center;
    margin: 5px 10px;
    padding: 0;
}

.pdf-zoom-options > .btn-default a {
    line-height: 20px;
    display: block;
}

.pdf-zoom-options span[class*="scale-"]:nth-child(2) {
    margin-right: 19px;
}

.pdf-zoom-options span[class*="scale-"]:last-child {
    margin-right: 0;
}

.pdf-zoom-options span.scale-selected {
    position: relative;
}

.pdf-zoom-options span.scale-selected:before {
    content: "";
    position: absolute;
    top: -3px;
    left: -2px;
    width: 10px;
    height: 10px;
    background: #F37356;
    border-radius: 50%;
}

#annotation-sort-by {
    background-color: #4797DF;
    border-radius: 11px;
    color: #fff;
    border: 0;
    font-size: 12px;
    height: 22px;
}

.metadata-country, .metadata-signature-year, .metadata-type-contract, .metadata-resource, .metadata-ocid {
    font-size: 12px;
    margin-bottom: 16px;
}

.metadata-country, .metadata-signature-year, .metadata-type-contract, .metadata-resource, .metadata-ocid {
    border-bottom: 1px solid #C5C5C5;
    border-bottom: 1px solid rgba(197, 197, 197, 0.3);
    padding-bottom: 16px;
}

.metadata-country span:first-child, .metadata-signature-year span:first-child, .metadata-type-contract span:first-child, .metadata-resource span:first-child, .metadata-ocid span:first-child {
    color: rgba(64, 64, 64, 0.7);
    display: block;
}

.metadata-view div:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.metadata-show-more {
    display: none;
}

.relateddocument-view, .relateddocument-more-view, .other-sources-view {
    padding: 0 18px;
}

.relateddocument-more-view {
    line-height: 18px;
}

.relateddocument-more-view > div:first-of-type, .other-sources-view > div:first-of-type {
    margin-top: 10px;
    font-weight: bold;
}

.relateddocument-view > div:first-of-type {
    color: rgba(64,64,64,0.7);
}

.link {
    cursor: pointer;
}

.relateddocument-view span {
    display: block;
}

.relateddocument-more-view a::after {
    margin-right: 8px;
    content: ",";
}

.relateddocument-more-view a:last-child::after {
    display: none;
}

.text-viewer-warning {
    margin: 10px 0 10px 15px;
    color: #9F6000;
    background-color: #FEEFB3;
    padding: 7px;
    border-radius: 4px;
    font-size: 12px;
}

.text-viewer-warning > .close {
    font-weight: bold;
    font-size: 16px;
}

.no-contract-error {
    margin: 10px 0 10px 10px;
    font-size: 12px;
    background-color: rgba(224, 118, 118, 0.45);
    padding: 5px;
    word-wrap: break-word;
}

.annotations-topic-list > .selected-topic {
    background-color: #F37356;
    color: #fff;
}

.annotations-list-footer {
    padding-left: 20px;
    clear: both;
}

.annotations-list-footer > a {
    padding-right: 10px;
}

.metadata-view-footer > a, .annotation-title span:last-child > a {
    font-size: 12px;
    text-transform: none;
}

.back:hover {
    background-color: #F37356;
}

.annotation-item-page {
    color: rgba(64, 64, 64, 0.5);
    margin-bottom: 8px;
}

.annotation-item-content > span:empty, .annotation-item-content > a:empty {
    display: none;
}

.annotation-viewer-category {
    padding: 0 0 6px !important;
    color: rgba(64, 64, 64, 0.7) !important;
    font: 13px normal "open-sans-regular" !important;
}

.annotation-viewer-category + span {
    font-size: 12px;
    font-style: normal;
}

.annotator-item div:empty {
    display: none;
}

.search-highlight-word {
    background-color: #FFFAC0;
}

#content {
    min-height: 400px;
}

.navbar-header {
   /* border-right: 1px solid rgb(220, 223, 226);
    border-right: 1px solid rgba(220, 223, 226, 0.7);*/
}

.navbar-brand span:first-of-type {
    color: #F37356;
}

.navbar-brand, .navbar-brand:hover {
    font-size: 19px;
}

.title-wrap > span {
    padding: 20px 13px;
}

.title-wrap > span {
    padding: 20px 13px;
}

.back-to-top {
    position: absolute;
    bottom: 65px;
    right: 15px;
    display: none;
}

.annotation-item-page {
    font-size: 13px;
    position: relative;
    top: 3px;
    float: left;
    display: inline-block !important;
    width: auto !important;
}
.annotation-item-preamble {
    padding-left: 10px;
    margin-bottom: 2px;
    color: #666;
}

.annotation-item-content {
    margin-bottom: 10px;
}

.relateddocument-view a {
    display: block;
    margin: 5px 0px;
}

.annotation-inner-viewer .annotation-title {
    background: url(../images/ic-annotate-full.png) no-repeat 0 21px;
    padding-left: 32px;
    border-bottom: 0;
    padding-bottom: 10px;
    margin-bottom: 0!important;
}

.navigation a:nth-last-child(-n+2) {
    display: none;
}

.tools .pdf-download-link {
    display: block;
    font-size: 0px;
    text-decoration: none;
    height: 44px;
    padding: 13px 25px 13px 30px;
    background: url(../../images/ic-sprite.png) no-repeat -152px -40px;
    border-left: 1px solid #ccc;
}

.download-pdf a {
    display: block;
    font-size: 12px;
    color: #F37356;
    text-decoration: none;
    padding: 13px 25px 13px 44px;
    background: url(../../images/ic-sprite.png) no-repeat -152px -40px;
}

.fixed .head-wrap {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.fixed + .document-wrap {
    padding-top: 44px;
}

.note-wrapper {
    background: #f9f9f9;
    margin: 20px 14px 10px;
    padding: 12px;
    display: block;
    overflow: hidden;
}

.metadata-note {
    padding: 0 4px 3px 0!important;
    font-family: "open-sans-bold";
    color: #666;
}

.note {
    display: block;
    margin-top: 0;
}

.note-inner-wrapper+a {
    float: right;
}

.note-inner-wrapper+a:focus {
    text-decoration: none;
}

.note-wrapper:empty {
    display: none;
}

.social-share {
    float: right;
    padding: 0;
    position: static;
    border: 0;
    background: transparent;
}

.social-share li {
    list-style: none;
    float: left;
    margin-right: 6px;
}

.social-share li a {
    display: block;
    text-indent: -9999px;
    width: 21px;
    height: 21px;
    /*background: url(../images/share-sprite.png) no-repeat -22px -40px;*/
}

.social-share li.twitter a {
    background-position: 0 -40px;
}

.social-share li a:hover {
    /*background-position: -22px 0;*/
}

.social-share li.google-plus a:hover {
    background-position: -50px 0;
}

.social-share li.twitter a:hover {
    background-position: 0 0;
}

.pdf-zoom-options > .btn-default  a {
    line-height: 20px;
    display: block;
}

.pdf-zoom-options > span {
    font-size: 14px;
    margin-left: 11px;
    margin-top: 6px;
}

.pdf-zoom-options > .btn-default  {
    background: #fff;
    border: 1px solid #ccc;
    text-align: center;
    margin: 5px 10px;
    padding: 0;
}

.parent-contract {
    display: flex !important;
    align-items: center;
    font-weight: bold;
}

.parent-contract > span:last-of-type {
    font-size: 11px;
    margin-left: 4px;
    color: #888;
}

.annotation-item .category {
     color: rgba(64, 64, 64, 0.7);
     font-size: 12px;
     margin-bottom: 5px;
}

.annotation-item.selected-annotation {
    background-color: #dfdfdf;
}

.annotation-item .annotated-text {
    background: url(../images/ic-dark-annotate-bg.png) no-repeat 0 5px;
    font-size: 14px;
    line-height: 22px;
    padding-left: 18px;
    padding-right: 18px;
}

.annotation-item .annotation-item-content {
    padding-left: 0;
}

.child-contract {
    padding-left: 5pt;
    padding-right: 5pt;
}


.amla-legislation {
    margin: 10px 0px;
}

.metadataLoading{
    margin-bottom: 10px;
    display: block;
}
