@font-face {
  font-family: "Open-Sans-Regular";
  src: url("../../fonts/opensans-regular-webfont.eot");
  src: url("../../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans-regular-webfont.woff") format("woff"), url("../../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../../fonts/opensans-regular-webfont.svg#Open-Sans") format("svg");
}

@font-face {
  font-family: "Open-Sans-Bold";
  src: url("../../fonts/opensans-bold-webfont.eot");
  src: url("../../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans-bold-webfont.woff") format("woff"), url("../../fonts/opensans-bold-webfont.ttf") format("truetype"), url("../../fonts/opensans-bold-webfont.svg#Open-Sans") format("svg");
}

@font-face {
  font-family: "Open-Sans-Light";
  src: url("../../fonts/opensans-light-webfont.eot");
  src: url("../../fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans-light-webfont.woff") format("woff"), url("../../fonts/opensans-light-webfont.ttf") format("truetype"), url("../../fonts/opensans-light-webfont.svg#Open-Sans") format("svg");
}

.form-control::-webkit-input-placeholder { 
	color: rgba(255,255,255,0.5);
}

.form-control:-moz-placeholder { 
	color: rgba(255,255,255,0.5);
}

.form-control::-moz-placeholder { 
	color: rgba(255,255,255,0.5);
}

.form-control:-ms-input-placeholder { 
	color: rgba(255,255,255,0.5);
}

.search-form .form-control::-webkit-input-placeholder { 
	color: rgba(64,64,64,0.5);
}

.search-form .form-control:-moz-placeholder { 
	color: rgba(64,64,64,0.5);
}

.search-form .form-control::-moz-placeholder { 
	color: rgba(64,64,64,0.5);
}

.search-form .form-control:-ms-input-placeholder { 
	color: rgba(64,64,64,0.5);
}

.login-panel .form-control::-webkit-input-placeholder { 
	color: rgba(64,64,64,0.5);
}

.login-panel .form-control:-moz-placeholder { 
	color: rgba(64,64,64,0.5);
}

.login-panel .form-control::-moz-placeholder { 
	color: rgba(64,64,64,0.5);
}

.login-panel .form-control:-ms-input-placeholder { 
	color: rgba(64,64,64,0.5);
}

html,body {
	height: 100%;
}

body {
	font-family: "Open-Sans-Regular";
	color: #404040;
	background: #fff;
}

a {
	color: #F37356;
}

a:hover,a:focus {
	color: #F46A4A;
}

*:focus {
	outline: 0!important;
}

/*table*/

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border-top: 1px solid rgba(209,214,219,0.7);
	padding: 15px 36px;
	line-height: 22px;
}

.table>tbody>tr>td>a, .table>tbody>tr>th>a {
	color: #404040;
}

.table tr:first-of-type td {
	border: 0;
}

.table .label-default {
    background: #e3e3e3;
    width: 30px;
    line-height: 18px;
    height: 18px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    border-radius: 9px;
    font-size: 11px;
    text-align: center;
    margin-left: 10px;
    color: rgba(64, 64, 64, 0.6);
    font-weight: normal;
    padding: 0;
    display: inline-block;
}

#page-wrapper {
	margin: 0;
	padding: 0;
	border: 0;
}

.row-top-wrap {
	background: url(../../images/ic-home-bg.png) no-repeat 0 0/cover;
	margin: 0;
}

.navbar-brand,.navbar-brand:hover {
    font-size: 19px;
    font-family: "Open-Sans-Bold";
    color: #F37356;
    text-transform: uppercase;
    padding: 16px 20px 12px 0;
    height: auto;
}

.navbar-brand span {
	display: block;
	color: rgba(64,64,64,0.7);
}

.trigger {
	background: url(../../images/ic-sprite.png) no-repeat 0 -47px;
	width: 17px;
	height: 10px;
	text-indent: -9999px;
	margin: 27px 10px 12px 12px;
	cursor: pointer;
}

.front-row-top-wrap .navbar-brand,.front-row-top-wrap .navbar-brand:hover {
    color: #fff;
}

.front-row-top-wrap .navbar-brand span {
	color: rgba(255,255,255,0.7);
}

.front-row-top-wrap .trigger {
	background: url(../../images/ic-sprite.png) no-repeat 0 0;
}

.navbar-right {
	width: 80%;
	margin: 0;
	position: relative;
}

nav.navbar {
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.front-row-top-wrap nav.navbar {
	border-bottom: 1px solid rgb(242,242,242);
	border-bottom: 1px solid rgba(242,242,242,0.2);
	box-shadow: none;
}

.row-top-content {
	padding: 152px 40px 200px;
}

.tagline {
	font-size: 26px;
	line-height: 50px;
	color: #fff;
	margin-bottom: 36px;
}

.tagline span {
	font-size: 75px;
	font-family: "Open-Sans-Light";
	line-height: 82px;
	display: block;
}

.contract-search-form {
	width: 634px;
}

.contract-search-form .form-control {
	width: 410px;
	height: 70px;
	background: rgb(255,255,255);
	background: rgba(255,255,255,0.4);
	border: 1px solid rgb(255,255,255);
	border: 1px solid rgba(255,255,255,0.3);
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	font-size: 19px;
	color: #fff;
	padding: 22px;
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.btn-search,.btn-search:hover,.btn-search:focus {
	height: 70px;
	background: #F37356;
	border: 1px solid #F37356;
	font-size: 19px;
	color: #fff;
	padding: 0 22px;
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
	width: 200px;
}

.btn-search:hover {
	background: #F46A4A;
}

.advanced-search {
	font-size: 14px;
	color: rgb(255,255,255);
	color: rgba(255,255,255,0.5);
	text-decoration: underline;
	cursor: pointer;
	display: none;
}

.advanced-search:hover {
	color: rgb(255,255,255);
} 

.row-content {
	margin: 0;
}

.row-content > div[class*=col-lg] {
	padding: 0;
}

.country-wrapper {
	background: #356F90 url(../../images/ic-map.png) no-repeat center;
}

.row-content > div[class*=col-lg] > div {
	padding: 148px 32px 72px;
}

.country-inner-wrap,.resource-inner-wrap {
	color: #fff;
	font: 56px/76px "Open-Sans-Light";
	margin-bottom: 20px;
}

.country-inner-wrap p,.resource-inner-wrap p {
	font: 14px/19px "Open-Sans-Regular";
	text-transform: uppercase;
	margin: 0;
}

.btn-view,.btn-view:hover,.btn-view:focus {
    background: rgb(255,255,255) url(../../images/ic-sprite.png) no-repeat 136px -74px;
    background: rgba(255,255,255,0.1) url(../../images/ic-sprite.png) no-repeat 136px -74px;
    border-radius: 16px;
    color: rgb(255,255,255);
    color: rgba(255,255,255,0.7);
    padding: 6px 32px 6px 18px;
}

.btn-view:hover,.btn-view:focus {
	background-color: rgba(255,255,255,0.4);
}

.resource-wrapper {
	background: #EDEFF1 url(../../images/ic-resources-bg.png) no-repeat bottom right;
}

.resource-inner-wrap {
	color: #404040;
}

.resource-wrapper .btn-view {
	background: rgb(64,64,64) url(../../images/ic-sprite.png) no-repeat 138px -121px;
	background: rgba(64,64,64,0.1) url(../../images/ic-sprite.png) no-repeat 138px -121px;
	color: rgb(64,64,64);
	color: rgba(64,64,64,0.7);;
}

.resource-wrapper .btn-view:hover {
	background-color: rgba(64,64,64,0.2);
}

footer {
	background: #404040;
	padding: 80px 0 48px;
}

footer > .row {
	margin: 0;
}

footer .col-lg-6 {
	padding: 0 32px;
}

footer .col-lg-6:first-of-type {
	padding-top: 20px;
}

footer ul li {
	list-style: none;
	float: left;
}

footer .col-lg-6:first-of-type li {
	border-left: 1px solid rgb(255,255,255);
	border-left: 1px solid rgba(255,255,255,0.7);
	line-height: 12px;
	padding-left: 10px;
	margin-left: 10px;
}

footer .col-lg-6:first-of-type li:first-child {
	border-left: 0;
	padding-left: 0;
	margin-left: 0;
} 

footer ul {
	margin: 0;
	padding: 0;
}

footer ul li a {
	font-size: 13px;
	color: rgb(255,255,255);
	color: rgba(255,255,255,0.7);
}

footer ul li a:hover {
	color: rgb(255,255,255);
}

footer .col-lg-6:last-of-type li {
	margin-left: 34px;
}

footer .col-lg-6:last-of-type li:first-child {
	margin-left: 0;
} 

/*countries*/

.not-front > .row {
	margin: 0;
}

/*navbar search form*/

.navbar-right {
	border-left: 1px solid #E7E9EB;
	padding-left: 30px;
}

.btn-navbar-search,.btn-navbar-search:hover,.btn-navbar-search:active {
    background: url(../../images/ic-sprite.png) no-repeat 0 -392px;
    text-indent: -9999px;
    width: 20px;
    margin: 26px 0;
    height: 20px;
    box-shadow: none;
}

.search-form > .form-group {
	margin: 0;
}

.search-form .form-control {
	border: 0;
	box-shadow: none;
	width: 90%;
	font-size: 13px;
	line-height: 18px;
	height: auto;
	padding-top: 26px;
	padding-bottom: 26px;
	background: transparent;
}

.search-input-wrapper {
	position: absolute;
	top: 73px;
	left: 0;
	width: 100%;
	background: #fff;
	border: 1px solid #E7E9EB;
	box-shadow: 0 4px 4px rgba(0,0,0,0.2);
	padding: 34px 0;
	display: none;
	margin: 0;
	z-index: 1;
}
/*
.search-input-wrapper:not(.search-page-input-wrapper) .col-lg-4 {
	clear: both;
	float: none;
}
*/
.input-wrapper input,.input-wrapper select {
	background: #f9f9f9;
	border: 1px solid #CECECE;
	border-radius: 4px;
	width: 80%;
	height: auto;
}

.btn-form-search { 
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background: #F37356;
  color: #fff;
  width: 138px;
  padding: 6px 12px;
  text-transform: capitalize;
  margin-top: 24px;
}

.btn-form-search:hover,.btn-form-search:focus {
	color: #fff;
	background: #F46A4A;
} 

.panel-top-wrapper {
	background: #f9f9f9;
	padding: 0;
}

.panel-top-content {
	border-bottom: 1px solid rgb(188,188,188);
	border-bottom: 1px solid rgba(188,188,188,0.5);
	overflow: hidden;
	padding: 0 36px;
}

.panel-top-content > .pull-left {
	width: 70%;
}

/*breadcrumb*/

.breadcrumb-wrapper {
	padding: 12px 0 4px;
	overflow: hidden;
}

.breadcrumb-wrapper ul {
	margin: 0;
	padding: 0;
}

.breadcrumb-wrapper ul li {
	list-style: none;
	float: left;
	font-size: 12px;
	color: #bcbcbc;
	padding-right: 10px;
}

.breadcrumb-wrapper ul li:before {
	content: "/";
	color: #bcbcbc;
	margin-right: 10px;
}

.breadcrumb-wrapper ul li:first-child:before {
	display: none;
}

.breadcrumb-wrapper ul li  a {
	color: #F37356;
}

.panel-title {
	clear: both;
	font: 28px/38px "Open-Sans-Light";
	padding-bottom: 10px;
}

.panel-title img {
	margin-right: 5px;
	width: 52px;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
	box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.action-links {
	margin: 21px 0;
}

.action-links ul {
	padding: 0;
	margin: 0;
}

.action-links ul li {
	list-style: none;
	margin-left: 8px;
}

.action-links ul li a {
	background: #F37356 url(../../images/ic-sprite.png) no-repeat -154px -254px;
	-webkit-border-radius: 19px;
	-moz-border-radius: 19px;
	border-radius: 19px;
	font-size: 13px;
	color: #fff;
	display: block;
	padding: 10px 30px 10px 45px;
}

.action-links ul li:last-child a {
	background: #4797DF url(../../images/ic-sprite.png) no-repeat 14px -254px;
	padding-right: 16px;
}

.action-links ul li:last-child a:after {
	content: "";
	background: url(../../images/ic-sprite.png) no-repeat -178px -326px;
	display: inline-block;
	width: 10px;
	height: 8px;
	margin-left: 8px;
} 

.action-links ul li a:hover {
	text-decoration: none;
	background-color: #F46A4A;
} 

.action-links ul li:last-child a:hover {
	background-color: #3A8AD2;
}

.filter-wrapper {
	border-bottom: 1px solid rgb(188,188,188);
	border-bottom: 1px solid rgba(188,188,188,0.5);
	float: left;
	width: 100%;
	background: #f9f9f9;
}

.btn-filter-search {
	background: url(../../images/ic-sprite.png) no-repeat -174px -392px;
	height: 20px;
}

.filter-wrapper > div[class*=col-lg] {
	padding: 10px 0 10px 24px;
	border-left: 1px solid rgb(188,188,188);
	border-left: 1px solid rgba(188,188,188,0.5);
}

.filter-wrapper > div[class*=col-lg]:first-of-type {
	border-left: 0;
	padding-left: 0;
}

.filter-wrapper .col-lg-2:last-of-type {
	cursor: pointer;
	padding: 0;
}

.filter-form .form-control {
	width: 80%;
	padding-top: 0;
	padding-bottom: 0;
}

.filter-country-wrap {
	padding: 3px 10px 1px 36px;
	overflow: hidden;
} 

/*pagination*/

.pagination-wrapper ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

.pagination-wrapper ul li {
	list-style: none;
	display: inline-block;
}

.pagination-wrapper ul li a {
	font-size: 12px;
	color: #404040;
	width: 24px;
	line-height: 24px;
	display: block;
	text-align: center;
}

.pagination-wrapper ul li a.active {
	border-radius: 50%;
	background: #404040;
	color: #fff;
	text-decoration: none;
} 

.filter-resource-wrap {
	line-height: 24px;
}

.filter-label {
	padding: 6px 24px 7px 24px;
}

.filter-label:hover {
	background: #eee;
}

.filter-label i {
	background: url(../../images/ic-sprite.png) no-repeat -164px -179px;
    width: 24px;
    display: inline-block;
    height: 24px;
}

.filter-label.active {
	color: #fff;
	background: #303030;
}

.filter-label.active i {
	background: url(../../images/ic-sprite.png) no-repeat 2px -179px;
}

.country-list-wrapper {
	padding: 0;
}

.country-list-wrap {
	padding: 16px 0 50px!important;
}

.country-list-wrap .col-lg-2,.country-list-wrap .col-lg-3 {
	text-align: center;
	margin-top: 60px;
	min-height: 150px;
}

.country-list-wrap > div img {
	width: 128px;
	height: 90px;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
	box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.country-list-wrap .col-lg-2:nth-child(-n+6),.country-list-wrap .col-lg-3:nth-child(-n+4) {
	margin-top: 0;
}

.country-name {
	margin-top: 10px;
	font-family: "Open-Sans-Bold";
	line-height: 16px;
	color: #404040;
}

.contract-count {
	font-size: 12px;
	color: rgba(64,64,64,0.7);
}

.contract-count.pull-right {
	margin-top: 10px;
}

.load-more {
	width: 234px;
	margin: 0 auto 90px;
	clear: both;
}

.btn-load-more,.btn-load-more:hover {
	background: rgb(249,249.,249);
	background: rgba(249,249.,249,0.2);
	border-radius: 24px;
	border: 1px solid rgb(35,82,124);
	border: 1px solid rgba(35,82,124,0.2);
	display: block;
	font-size: 17px;
	color: rgba(64,64,64,0.7);
	line-height: 48px;
	padding: 0;
}

.btn-load-more:hover {
	background: rgb(35,82,124);
	background: rgba(35,82,124,0.2);
	color: rgba(35,82,124,0.6);
}

.side-collapse,.sidebar-collapse {
    top: 44px;
    bottom: 0;
    right: 0;
    width: 100%;
    transition: width .4s;
    background: #F9F9F9;
    border-left: 1px solid #BCBCBC;
    position: absolute;
    z-index: 1;
    overflow: scroll;
}

.sidebar-collapse {
	right: auto;
	left: 0;
	width: 280px;
	position: fixed;
	border-left: 0;
}

.side-collapse ul {
	margin: 0;
	padding: 20px 12px 20px 28px;
}

.side-collapse ul li {
	list-style: none;
	font-size: 13px;
	margin-bottom: 14px;
}

.side-collapse ul li label {
	width: 86%;
	vertical-align: top;
}

.side-collapse ul li input {
	margin-right: 6px;
}

.side-collapse ul li a {
	color: #404040;
}

.side-collapse.in,.sidebar-collapse.in {
	width:0;
	border: 0;
}

.side-collapse-container,.sidebar-collapse-container{
	width:100%;
	position:relative!important;
	right:0;
	transition: width .4s;
	background: #fff;
	min-height: 520px;

}

.sidebar-collapse-container {
	right: auto;
	left: 0;
	transition:left .4s;
}

.side-collapse-container.out{
	width: 84%;
}

.sidebar-collapse-container.out {
	right: auto;
	left: 280px;
	position: fixed!important;
}

.contract-number-wrap {
	width: 134px;
	border-radius: 50%;
	height: 134px;
	position: absolute;
	right: 102px;
	top: 10px;
	background: #fff;
	border: 10px solid #f3f3f3;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	font-size: 12px;
	color: rgba(64,64,64,0.7);
	text-align: center;
	text-transform: uppercase;
	padding-top: 25px;
	z-index: 1;
}

.contract-number-wrap span {
	font: 42px/44px "Open-Sans-Light";
	color: #404040;
	display: block;
}

.panel-wrap {
	padding: 50px 0 30px;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    background: transparent;
}

.panel-wrap ul {
	padding: 0;
	margin: 0;
}

.panel-wrap ul li {
	list-style: none;
}

.country-contract-wrap {
	border-right: 1px solid #f2f2f2;
} 

.country-detail-wrapper,.country-detail-wrapper > div {
	padding: 0;
}

.panel-wrap .panel-heading {
	font: 22px/28px "Open-Sans-Light";
	margin: 0 0 10px;
	background: transparent;
	padding: 0 0 0 36px;
	border: 0;
	cursor:pointer;
}

.panel-wrap .panel-body {
	padding: 0;
}

.table-contract td:not(:first-child) {
    font-size: 12px;
    color: #8b8b8b;
}

.table-contract td:first-child {
	background: url(../../images/ic-file.png) no-repeat 36px 18px;
    padding-left: 60px;
}

.country-resource-wrap ul {
	padding: 0 24px;
	margin: 0;
}

.country-resource-wrap ul li {
	list-style: none;
	border-bottom: 1px solid rgba(209,214,219,0.7);
	padding: 14px;
}

.country-resource-wrap ul li:last-child {
	border-bottom: 0;
}

.country-resource-wrap ul li.highest-count {
	font-family: "Open-Sans-Bold"; 
	border: 0;
	padding-top: 0;
}

.country-resource-wrap ul li.highest-count span:first-child {
	padding-top: 10px;
	display: inline-block;
}

.country-resource-wrap ul li.highest-count:nth-child(3) {
	border-bottom: 1px solid rgba(209,214,219,0.7);
}

.country-resource-wrap ul li.highest-count .count {
	font-size: 26px;
}

.contract-year-list {
	padding: 0;
}

.contract-year-list,.contract-year-wrap {
	background: #f5f5f5;
}

.contract-year-wrap {
	padding-bottom: 60px;
}

.contract-year-wrap .panel-heading {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 60px;
}

.contract-year-wrap .panel-body {
	padding-left: 36px;
}

.actions-wrapper > .col-lg-12 {
	padding: 0 0 0 36px!important;
}

.view-main-pin-wrap,.download-main-wrap {
	font-size: 11px;
	text-transform: uppercase;
	float: left;
	width: 140px;
	border-right: 1px solid rgb(188,188,188);
	border-right: 1px solid rgba(188,188,188,0.5);
	cursor: pointer;
	position: relative;
}

.view-pin-wrap,.download-wrap {
	padding: 12px 0 12px 22px;
	background: url(../../images/ic-sprite.png) no-repeat -174px 11px;
}

.download-wrap {
	padding-left: 44px;
	background: url(../../images/ic-sprite.png) no-repeat -152px -40px;
}

.view-pin-wrap:after,.download-wrap:after {
    content: " ";
    background: url(../../images/ic-sprite.png) no-repeat -176px -114px;
    width: 8px;
    height: 6px;
    display: inline-block;
    margin-left: 5px;
}

/*contract detail*/
.contract-detail-wrapper {
	padding: 60px 0;
	-webkit-box-shadow: 0 8px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 8px 10px rgba(0,0,0,0.1);
	box-shadow: 0 8px 10px rgba(0,0,0,0.1);
	position: relative;
}

.contract-detail-wrapper .col-lg-12:not(:first-of-type) {
	padding: 0 36px;
}

.panel-contract-wrap {
	padding: 0;
	margin-bottom: 70px;
}

.panel-contract-wrap .panel-heading,.panel-annotation-list-wrap .panel-heading {
	font-size: 21px;
	text-transform: uppercase;
	padding-left: 0;
}

.panel-contract-wrap > .panel-body {
	background: #f9f9f9;
	border: 1px solid #ebebeb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 0;
	overflow: hidden;
	margin-bottom: 8px;
}

.panel-contract-wrap ul {
	border-bottom: 1px solid rgb(235,235,235);
	border-bottom: 1px solid rgba(235,235,235,0.7);
	display: inline-block;
	width: 100%;
	margin-bottom: -4px;
}

.panel-contract-wrap ul:last-child {
	border: 0;
}

.panel-contract-wrap li {
	float: left;
	width: 50%;
	border-right: 1px solid rgb(235,235,235);
	border-right: 1px solid rgba(235,235,235,0.7);
	padding: 12px 30px;
}

/*.panel-contract-wrap .panel-body:not(.panel-col3-wrap) li:nth-last-child(-n+2),.panel-contract-wrap .panel-col3-wrap li:last-of-type {
	border-bottom: 0;
}*/

.panel-contract-wrap .panel-body:not(.panel-col3-wrap) li:nth-child(even) {
	border-right: 0;
}

.panel-contract-wrap .panel-col3-wrap li:nth-child(3n) {
	border-right: 0;
}

.panel-contract-wrap li label {
	font-weight: normal;
}

.panel-contract-wrap li span {
	display: block;
	font-family: "Open-Sans-Bold";
}

.panel-annotation-wrap {
	background: #FAF9EF;
	border: 1px solid #E0DFD2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 0;
	min-height: 281px;
}

.annotation-block {
	margin: 18px;
	background: url(../../images/ic-annotate.png) no-repeat 0 0;
	padding-left: 140px;
	min-height: 204px;
}

.annotation-block .title {
	font-family: "Open-Sans-Bold";
	color: rgba(64,64,64,0.7);
	padding: 20px 0 12px;
}

.annotation-block > ul > li {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.annotation-block > ul > li > a {
	display: block;
	background: #EFEEE3;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	padding: 7px 18px;
	border-radius: 17px;
	color: #404040;
}

.annotation-block > ul > li > a:hover {
	background: #E6E5D5;
	text-decoration: none;
}

.view-all-annotations {
	background: #EEEEE5;
	border-top:1px solid #E0DFD2;
}

.view-all-annotations a {
	display: block;
	font-family: "Open-Sans-Bold";
	padding: 21px 32px;
	color: #404040;
	background: url(../../images/ic-sprite.png) no-repeat 180px -441px;
}

.view-all-annotations a:hover {
	text-decoration: none;
	background-color: #E6E5DD;
}

.panel-col3-wrap ul li {
	width: 33.3%;
}

.table-associated-contract {
	margin: 0;
}

.table-associated-contract td:first-child {
	padding-left: 48px;
	background-position: 22px center;
}

.panel-table {
	padding: 10px 0!important;
}

/*annotation list wrapper*/
.annotation-list-wrapper {
	background: #f5f5f5;
	margin: 0;
}

.annotation-list-wrapper .col-lg-12 {
	padding: 0;
}

.panel-annotation-list-wrap {
	padding-bottom: 50px;
}

.panel-annotation-list-wrap .panel-heading {
    margin-bottom: 50px;
    padding: 0 36px 0 76px;
    background: url(../../images/ic-annotation.png) no-repeat 40px;
}

.page-num {
	font-family: "Open-Sans-Bold";
	color: rgba(64,64,64,0.7);
	font-size: 12px;
	margin-right: 16px;
}

.annotation-text {
	margin-bottom: 3px;
	color: rgba(64,64,64,0.8);
}

.quote {
	color: rgba(64,64,64,0.6);
	margin-bottom: 12px;
}

.category-wrap {
	overflow: hidden;
	border-bottom: 1px solid #dadada;
	padding: 0 36px 26px;
	margin-bottom: 26px;
}

.category-wrap li {
	float: left;
	width: 50%;
}

.category-title {
	text-transform: uppercase;
	margin-bottom: 18px;
}

.tags a {
	background: #E8E8E8;
	border: 1px solid #d5d5d5;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	margin-right: 4px;
	padding: 2px 12px;
	color: #898989;
	font-size: 12px;
}

.tags a:hover {
	text-decoration: none;
	background: #ddd;
}

.note {
	margin-top: 14px;
	font-size: 12px;
}

.note em {
	color: rgba(64,64,64,0.7);
}

.note span:before {
	content: "-";
	margin-left: 2px;
	padding-right: 2px;
}


/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

/*#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 300px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
*/
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 280px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#sidebar-wrapper {
    background-image: linear-gradient(81deg, #404040 1%, #785A53 100%);
    top: 0;
}

.sidebar-nav li {
    color: #aaa;
    line-height: normal;
    text-indent: inherit;
}

.sidebar-nav li a {
    color: #fff;
    font-size: 13px;
}

.sidebar-nav li a:hover {
    background: transparent;
}

.sidebar-nav li:hover,.sidebar-nav li.active {
    background: rgba(216,216,216,0.1);
    background: rgba(216,216,216,0.1);
}

.sidebar-nav > .sidebar-brand {
    line-height: 20px;
    height: auto;
}

.sidebar-nav > .sidebar-brand a,.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    text-transform: uppercase;
    background: url(../../images/ic-title-bg.png) no-repeat 0 0/cover;
    font-size: 19px;
    padding: 40px 32px;
}

.sidebar-nav > .sidebar-brand a span {
    font-weight: normal;
    display: block;
    color: rgb(255,255,255);
    color: rgba(255,255,255,0.7);
}

.sidebar-nav li a {
    padding: 10px 14px 10px 32px;
    color: #fff;
}

.sidebar-nav li a span {
	width: 85%;
	display: inline-block;
}

.sidebar-nav > li.contracts,.sidebar-nav > li.countries,.sidebar-nav > li.year,.sidebar-nav > li.resources  {
    margin-bottom: 22px;
    border-bottom: 1px solid rgb(151,151,151);
    border-bottom: 1px solid rgba(151,151,151,0.1);
}

.sidebar-nav li.contracts a {
    background: url(../../images/ic-folder.png) no-repeat 32px;
    padding: 12px 20px 12px 58px;
}

.sidebar-nav li .label {
    font-size: 12px;
    line-height: normal;
    font-weight: normal;
    color: rgba(255,255,255,0.5);
}

.sidebar-nav li label {
    font-weight: normal;
    text-transform: uppercase;
    color: rgb(255,255,255);
    color: rgba(255,255,255,0.4);
    padding: 0 32px 14px;
}

.sidebar-nav li ul {
    list-style: none;
    padding: 0;
}

.sidebar-nav > li.countries,.sidebar-nav > li.countries:hover,.sidebar-nav > li.year:hover,.sidebar-nav > li.resources:hover  {
    background: transparent;
}

.sidebar-nav li > .load-more > a {
  color: rgb(255,255,255);
  color: rgba(255,255,255,0.7);
}

.sidebar-nav li > .load-more > a:hover {
    text-decoration: underline;
}

/*sort*/
.sort-wrapper {
	margin: 20px 0 20px 36px;
}

.sort-wrapper select {
	background: #f9f9f9;
	border: 1px solid rgb(35,82,124);
	border: 1px solid rgba(35,82,124,0.2);
	border-radius: 13px;
	font-size: 12px;
	color: #A8AEB3;
	min-width: 120px;
}

.sort-wrapper label {
	margin-right: 6px;
}

.sort-wrapper .select2-container {
	width: 120px!important;
}

.dropdown-menu li:not(:last-child) {
	border-bottom: 1px solid #f5f5f5;
}

.search-container {
	min-height: 300px;
}


/*resources*/

#resources > div {
    border-bottom: 1px solid rgb(209,214,219);
    border-bottom: 1px solid rgba(209,214,219,0.7);
    padding: 20px 36px;
    border-right: 1px solid rgba(209,214,219,0.7);
}

#resources > .col-lg-4:nth-child(-n+3) {
	padding-top: 0;
}

/*search page*/

.search-top-wrapper .panel-title {
	padding: 18px 0 14px;
}

.search-top-wrapper .panel-title span {
	font-family: "Open-Sans-Bold";
}

.search-text {
	font-size: 12px;
	margin-top: 10px;
}

.search-text span {
	font-family: "Open-Sans-Bold";
}

.search-list-wrapper td:nth-child(3) {
	min-width: 140px;
}

.search-list-wrapper td:first-child {
	color: #787878;
	font-size: 12px;
	line-height: 20px;
}

.search-list-wrapper td:first-child a {
	font-size: 14px;
}

.search-list-wrapper td:last-child {
	min-width: 210px;	
}

.search-list-wrapper td:last-child a {
	font-size: 12px;
	color: #999;
	background: rgb(64,64,64);
	background: rgba(64,64,64,0.1);
	border-radius: 11px;
	display: inline-block;
	padding: 2px 12px;
	margin-left: 4px;
	margin-bottom: 4px;
}

.search-list-wrapper td:last-child a:hover {
	text-decoration: none;
	background: rgba(64,64,64,0.2);
}

.search-list-wrapper .search-input-wrapper {
	top: 43px;
}
.dropdown-menu>li>a,.dropdown-menu>div>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}

.search-page-form {
	background: #f9f9f9;
}

.search-page-form .form-group button, .search-page-form .form-froup button:hover, .search-page-form .form-group button:focus {
	margin: 0;
}

.search-page-form .form-control {
	padding-top: 0;
	padding-bottom: 0;
}

.input-wrapper {
	padding-bottom: 0;
}

.search-page-input-wrapper {
	top: 44px;
	background: #f9f9f9;
	padding: 10px 0 16px;
	box-shadow: none;
}

.search-page-input-wrapper button {
    width: 130px;
    margin-top: 24px;
    padding: 6px 12px;
}

button.search-close {
	background: #bbb;
	margin-left: 10px;
}

button.search-close:hover,button.search-close:focus {
	background: #aaa;
	color: #fff;
}

.search-input-wrapper .select2-container .select2-selection--single {
	height: 33px!important;
}

.search-input-wrapper .select2-container--classic .select2-selection--single .select2-selection__rendered {
	line-height: 32px!important;
}

.search-input-wrapper .select2-container--classic .select2-selection--single .select2-selection__arrow {
	height: 31px!important;
}

.country_name {
	font-size: 12px;
    color: #787878;
    display: inline-block;
}

.no-data {
	color: rgba(64,64,64,0.5);
	background: none!important;
}

.contract-search-number-wrap {
	top: 70px;
}

/*static content*/

.panel-content {
	padding: 0;
	box-shadow: none;
	border: 0;
}

.panel-content .panel-heading,.content-wrap #title {
	background: none;
	border: 0;
	font-size: 24px;
	padding-top: 20px;
	margin-bottom: 20px;
}

.panel-content .panel-body,.content-wrap #content {
	white-space: initial!important;
	width: 50%;
	margin-bottom: 40px;
	line-height: 22px;
	border: 0;
}

.panel-content p,.content-wrap #content p {
	line-height: 22px;
	margin-bottom: 20px;
	white-space: initial!important;
}

.panel-content strong,.content-wrap #content strong {
	font-family: "Open-Sans-Bold";
}

.content-note {
	font-style: italic;
	color: rgba(64,64,64,0.7);
}

.panel-content label {
	font-family: "Open-Sans-Bold";
	vertical-align: top;
}

.content-wrap {
	margin-left: 22%;
}

.panel-content ol {
	padding-left: 20px;
}

.panel-content ol > li {
	font-family: "Open-Sans-Bold";
}

.panel-content ol > li > *:not(label) {
	font-family: "Open-Sans-Regular";
}

.panel-content ul {
	padding-left: 20px;
	padding-bottom: 14px;
}

.panel-content ul li {
	list-style-type: disc;
	padding-bottom: 6px;
}

/*login block*/

.login-container .row-top-wrap {
	height: 100vh;
}

.login-panel {
	background: rgba(255,255,255,0.7);
	margin-top: 50%;
}

.login-panel .panel-heading {
	background: #fff;
}

.panel-login-title {
	padding: 0;
	font: 18px/24px "Open-Sans-Regular";
    color: rgba(64,64,64,0.7);
}

.btn-login-block,.btn-login-block:hover,.btn-login-block:hover:focus {
	background: #F37356;
	color: #fff;
	padding: 7px;
}

.btn-login-block:hover,.btn-login-block:focus {
	background: #F46A4A;
}

.login-panel .checkbox label {
	color: #777;
}

.editable-container.editable-inline {
	width: 50%!important;
	margin-bottom: 40px;
	border-radius: 4px;
	line-height: 22px;
	color: #404040;
}

.editable-container.editable-inline .form-group ,.editable-container.editable-inline .editable-input,.editable-container.editable-inline textarea {
	width: 100%;
}

.content-wrap .glyphicon-ok,.content-wrap .glyphicon-remove {
	background: url(../../images/ic-ok.png) no-repeat 0 0!important;
    width: 10px;
    height: 10px;
    display: block;
}

.content-wrap .glyphicon-remove {
	background: url(../../images/ic-close.png) no-repeat 0 0!important;
}

.content-wrap .glyphicon-ok:before,.content-wrap .glyphicon-remove:before {
	display: none;
}

.content-wrap .editable-buttons button:last-of-type {
	background: #d9534f;
	border: 1px solid #d43f3a;
}

.content-wrap .editable-buttons button:last-of-type:hover {
	background: #c9302c;
	border-color: #ac2925;
}

.edit-mode {
	background-color: #333;
	padding: 10px 20px;
	color: #fff;
	margin: 20px 0;
}

.edit-mode > div {
	margin-left: 21.5%
}

.editable-container.editable-inline .editable-input > input {
	font-size: 24px;
	color: #404040;
	height: auto;
	border: 0;
	box-shadow: none;
}

.form-inline .form-control {border:0px; outline:none; box-shadow: none}

.content-wrap #title {
	padding-top: 0;
}

.note-editor {border-color: #ccc!important;}

h1 + .editable-container.editable-inline {
	border: 1px solid #ccc;
}
