@font-face {
  font-family: "Open-Sans-Regular";
  src: url("../../fonts/opensans-regular-webfont.eot");
  src: url("../../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans-regular-webfont.woff") format("woff"), url("../../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../../fonts/opensans-regular-webfont.svg#Open-Sans") format("svg");
}

@font-face {
  font-family: "Open-Sans-Bold";
  src: url("../../fonts/opensans-bold-webfont.eot");
  src: url("../../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans-bold-webfont.woff") format("woff"), url("../../fonts/opensans-bold-webfont.ttf") format("truetype"), url("../../fonts/opensans-bold-webfont.svg#Open-Sans") format("svg");
}

@font-face {
  font-family: "Open-Sans-Light";
  src: url("../../fonts/opensans-light-webfont.eot");
  src: url("../../fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans-light-webfont.woff") format("woff"), url("../../fonts/opensans-light-webfont.ttf") format("truetype"), url("../../fonts/opensans-light-webfont.svg#Open-Sans") format("svg");
}

.form-control::-webkit-input-placeholder { 
	color: rgba(255,255,255,0.5);
}

.form-control:-moz-placeholder { 
	color: rgba(255,255,255,0.5);
}

.form-control::-moz-placeholder { 
	color: rgba(255,255,255,0.5);
}

.form-control:-ms-input-placeholder { 
	color: rgba(255,255,255,0.5);
}

body {
	font-family: "Open-Sans-Regular";
}

*:focus {
	outline: 0!important;
}

#page-wrapper {
	margin: 0;
	padding: 0;
}

.row-top-wrap {
	background: url(../../images/ic-home-bg.png) no-repeat 0 0/cover;
	margin: 0;
}

.navbar-brand,.navbar-brand:hover {
    font-size: 19px;
    font-family: "Open-Sans-Bold";
    color: #fff;
    text-transform: uppercase;
    background: url(../../images/ic-trigger.png) no-repeat 10px 32px;
    padding: 20px 20px 12px 36px;
    height: auto;
}

.navbar-brand span {
	display: block;
	color: rgba(255,255,255,0.7);
}

nav.navbar {
	border-bottom: 1px solid rgb(242,242,242);
	border-bottom: 1px solid rgba(242,242,242,0.2);
}

.row-top-content {
	padding: 152px 40px 200px;
}

.tagline {
	font-size: 26px;
	line-height: 50px;
	color: #fff;
	margin-bottom: 36px;
}

.tagline span {
	font-size: 75px;
	font-family: "Open-Sans-Light";
	line-height: 82px;
	display: block;
}

.search-form {
	width: 634px;
}

.search-form .form-control {
	width: 410px;
	height: 70px;
	background: rgb(255,255,255);
	background: rgba(255,255,255,0.4);
	border: 1px solid rgb(255,255,255);
	border: 1px solid rgba(255,255,255,0.3);
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	font-size: 19px;
	color: #fff;
	padding: 22px;
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.btn-search,.btn-search:hover,.btn-search:focus {
	height: 70px;
	background: #F37356;
	border: 1px solid #F37356;
	font-size: 19px;
	color: #fff;
	padding: 0 22px;
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-search:hover {
	background: #F46A4A;
}

.advanced-search {
	font-size: 14px;
	color: rgba(255,255,255);
	color: rgba(255,255,255,0.5);
	text-decoration: underline;
	cursor: pointer;
}

.advanced-search:hover {
	color: rgb(255,255,255);
} 

.row-content {
	margin: 0;
}

.row-content > div[class*=col-lg] {
	padding: 0;
}

.country-wrapper {
	background: #356F90 url(../../images/ic-map.png) no-repeat center;
}

.row-content > div[class*=col-lg] > div {
	padding: 148px 32px 72px;
}

.country-inner-wrap,.resource-inner-wrap {
	color: #fff;
	font: 56px/76px "Open-Sans-Light";
	margin-bottom: 20px;
}

.country-inner-wrap p,.resource-inner-wrap p {
	font: 14px/19px "Open-Sans-Regular";
	text-transform: uppercase;
	margin: 0;
}

.btn-view,.btn-view:hover {
	background: rgb(255,255,255);
	background: rgba(255,255,255,0.1);
	border-radius: 16px;
	color: rgb(255,255,255);
	color: rgba(255,255,255,0.7);
	padding: 6px 18px;
}

.btn-view:hover {
	background: rgba(255,255,255,0.4);
}

.btn-view i {
	font-size: 10px;
    padding-left: 4px;
}

.resource-wrapper {
	background: #EDEFF1 url(../../images/ic-resources-bg.png) no-repeat bottom right;
}

.resource-inner-wrap {
	color: #404040;
}

.resource-wrapper .btn-view {
	background: rgb(64,64,64);
	background: rgba(64,64,64,0.1);
	color: rgb(64,64,64);
	color: rgba(64,64,64,0.7);;
}

.resource-wrapper .btn-view:hover {
	background: rgba(64,64,64,0.3);
}

footer {
	background: #404040;
	padding: 80px 0 48px;
}

footer > .row {
	margin: 0;
}

footer .col-lg-6 {
	padding: 0 32px;
}

footer .col-lg-6:first-of-type {
	padding-top: 20px;
}

footer ul li {
	list-style: none;
	float: left;
}

footer .col-lg-6:first-of-type li {
	border-left: 1px solid rgb(255,255,255);
	border-left: 1px solid rgba(255,255,255,0.7);
	line-height: 12px;
	padding-left: 10px;
	margin-left: 10px;
}

footer .col-lg-6:first-of-type li:first-child {
	border-left: 0;
	padding-left: 0;
	margin-left: 0;
} 

footer ul {
	margin: 0;
	padding: 0;
}

footer ul li a {
	font-size: 13px;
	color: rgb(255,255,255);
	color: rgba(255,255,255,0.7);
}

footer ul li a:hover {
	color: rgb(255,255,255);
}

footer .col-lg-6:last-of-type li {
	margin-left: 34px;
}

footer .col-lg-6:last-of-type li:first-child {
	margin-left: 0;
} 