.navigation > a:nth-child(2) {
    background-position: -474px 13px;
}

.navigation > a:nth-child(3) {
    background: url(../images/ic-nav-annotate.png) no-repeat 16px 14px;
}

.navigation > a:nth-child(4) {
    background: url(../images/ic-nav-metadata.png) no-repeat 16px 14px;
}

.navigation {
    line-height: 46px;
    > a {
        color: rgb(64, 64, 64);
        background: url(../images/ic-sprite-new.png) no-repeat -388px 13px;
        font-size: 11px;
        text-transform: uppercase;
        padding: 0 15px 0 44px;
        opacity: 0.5;
        text-decoration: none;
        border-right: 1px solid #DCDFE2;
        display: inline-block;

        &.active {
            opacity: 1;
        }

        &:hover{
            opacity: 1;
            background-color: #f0f0f0;
        }

    }
}

.navigation > a.active {
    opacity: 1;
    border-bottom: 1px solid transparent;
    margin-bottom: -1px;
    background-color: #f0f0f0;
}

.pdf-annotator .annotator-hl{
    border :  2px solid #E7D530;
    background: transparent !important
}

.pagination{
    min-width: 125px;
    margin: 9px 6px 7px;
}

.pdf-pagination.pagination  span,
.text-pagination span,
.pagination input[type="text"]{
    font-size: 11px;
    line-height: 17px;
}

.pagination input[type="text"]{
    width: 40px;
    height: 20px;
}

.pdf-zoom-options{
    padding: 7px 0 8px;
    border-right: 1px solid #DCDFE2;

    p{
        text-indent: -999px;
        overflow: hidden;
        height: 19px;
        width: 18px;
        vertical-align: middle;
        background: transparent url(#{$img-path}/ic-sprite.svg) -42px -79px no-repeat;
        margin: 0 0 0;
    }
}

.pdf-zoom-options > .btn-default {
    width: 20px;
    height: 20px;
    line-height: 18px;
    background: #fff;
}

.annotation-sort > .active {
    background: $color_link_color;
}

.annotation-sort > .active:after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 45%;
    border-top: 6px solid $color_link_color;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.title-wrap {
    border-bottom: 1px solid rgb(220, 223, 226);
    border-bottom: 1px solid rgba(220, 223, 226, 0.7);
    width: 100%;
    background-color: #fff;
    color: #404040 !important;

    > span {
        padding: 20px 13px;
        float: left;
        width: 80%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.head-wrap {
    border: none;
    //margin-top: -5px;
    background: #f9f9f9;
    min-height: 37px;
    border-bottom: 1px solid rgb(220, 223, 226);
    border-bottom: 1px solid rgba(220, 223, 226, 0.7);
    > div {
        float: left;
    }
}

.text-search-container {
    width: 25%;
    border-right: 1px solid #DCDFE2;
}


.text-search {
    background: #f9f9f9;
    line-height: 44px;
    float: left;
    width: 100%;
    padding-left: 12px;
    &:before {
        background: url(#{$img-path}/ic-sprite.svg) no-repeat no-repeat -354px -397px;
        content: "";
        width: 21px;
        height: 21px;
        display: inline-block;
        float: left;
        margin-top: 12px;
    }
}

.text-search form {
    float: left;
    width: 82%;
}

.text-search input {
    border: 0;
    background: transparent;
    width: 100%;
    margin-left: 6px;
    font-size: 13px;
    padding: 2px 0;
}

.document-wrap {
    padding: 0;
    clear: both;
    overflow: hidden;
    background: #f0f0f0;
}

.pagination {
    display: block;
    padding: 2px 0;
    position: relative;
    z-index: 1;

    input[type="text"] {
        border: 1px solid #C0C0C0;
        border-radius: 4px;
        color: rgba(64, 64, 64, 0.4);
        text-align: center;
        margin-top: 2px;
    }

    .previous,.next{
        display: inline-block;
        text-indent: -9999px;
        background: url(../images/ic-sprite-new.png) no-repeat -194px -562px !important;
        height: 24px;
        width: 18px;
        padding: 0 !important;
    }
}

.pagination .next {
    background-position: -268px -562px !important;
}

.metadata-toggle-button span {
    background: #4797DF url(../images/metadata-trigger.png) no-repeat center;
    width: 56px;
    height: 44px;
    cursor: pointer;
    text-indent: -9999px;
    display: none;
}

.metadata-shown span {
    background-color: #404040;
}

.text-panel, .pdf-annotator {
    width: calc(54% - 30px);
    float: left;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 15px 30px;
    float: left;
    margin: 15px;
}

@media all and (min-width: 768px){
    .text-panel, .pdf-annotator {
        width: calc(54% - 40px);
        margin: 20px;
    }
}

.pdf-annotator,.text-annotator {
    height: 85vh;
    position: relative;
    overflow: auto;
}

.text-viewer > span {
    display: block;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
    padding: 10px;
    margin-left: 15px;

    > span:first-of-type {
        margin-left: -26px;
        float: left;
    }
}

.search-results-list {
    font-size: 12px;
    position: relative;
    height: 87vh;
    overflow-y: scroll;
    float: left;
    background: #f0f0f0;
    padding: 18px;
    border-right: 1px solid #DCDFE2;
    width: 25%;

    .close {
        background: url(../images/ic-search-close.png) no-repeat center;
        width: 10px;
        height: 10px;
        text-indent: -9999px;
        border: 2px solid $color_link_color;
        display: block;
        padding: 10px;
        border-radius: 50%;
        opacity: 1;

        &hover {
            background: $color_link_color url(../images/ic-close-link.png) no-repeat center;
        }
    }
}

.annotations-viewer {
    padding: 0;
}

.annotation-title {
    margin: 0 20px;
    overflow: hidden;
}

.annotation-title, .metadata-view > div:first-child {
    font-size: 15px;
    background: url(../images/ic-annotate-title.png) no-repeat 1px 23px;
    text-transform: uppercase;
    padding: 20px 20px 14px 27px;
    margin-bottom: 20px !important;
    border-bottom: 1px solid #DCDFE2;
}

.annotation-item .category {
    color: rgba(64, 64, 64, 0.7);
    font-size: 12px;
    margin-bottom: 5px;
    padding-right: 35px;
}

.metadata-view {
    padding: 0 18px 15px;
    margin-bottom: 15px;
}

.metadata-view > div:first-child {
    background: transparent;
    padding-left: 0;
    padding-right: 0;

    &:before {
        content: "";
        background: url(../images/ic-sprite-new.png) no-repeat -407px -123px;
        width: 14px;
        height: 18px;
        float: left;
        margin-right: 6px;
        margin-top: 1px;
    }

    .metadata-view-footer {
        font-size: 10px;
        text-transform: none;
        padding: 5px 10px 20px;
    }
}

.annotation-item {
    font-size: 12px;
    border: 0;

    .annotation-category-en {
        cursor: pointer;
        color: rgba(64, 64, 64, 0.7);
        padding: 4px 0 0 0;
        font-family: "open-sans-bold";
    }

    .annotation-category-fr {
        font-style: italic;
        margin: 4px 0;
    }

    .annotation-item-content,.annotation-item-page{
        padding-left: 10px;
    }

    > span {
        display: inline-block;
        width: 90%;
        line-height: 18px;
    }

    .annotation-page {
        margin: 0 18px;
    }
}

.annotations-list {
    margin: 5px 18px;
}

.annotation-item .annotation-cluster,
div > .annotation-item:first-of-type .annotation-cluster {
    text-transform: uppercase;
    color: #404040;
    font-size: 13px;
    border-top: 1px solid rgb(201, 201, 201);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 7px;
    box-shadow: 0 -1px 0px rgba(201, 201, 201, 0.3);
}

.annotation-item:first-of-type .annotation-cluster,
.annotations-list > div:first-of-type .annotation-item:first-of-type .annotation-cluster {
    border: 0;
    box-shadow: none;
    padding-top: 0;
}

.annotations-list > .annotation-item:first-of-type .annotation-cluster {
    border: 0 !important;
    box-shadow: none !important;
    padding-top: 0 !important;
}

.search-results-list{
    padding: 18px;
}

.search-result-row,
.annotation-item{
    word-wrap: break-word;
    padding: 18px 0;
    clear: both;
    overflow: hidden;
    position: relative;

    &:not(:last-child) {
        border-bottom: 1px solid rgba(220, 223, 226, 0.7);
    }

    &.selected-annotation,&:hover{
        box-shadow: 18px 0 0 #dfdfdf,-18px 0 0 #dfdfdf;
        background: #dfdfdf;
    }
}


.search-result-row .text, .search-result-row .annotations {
    background: url(../images/ic-sprite-new.png) no-repeat -402px 2px;
    text-indent: -9999px;
    float: right;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    position: absolute;
    top: 20px;
    right: 0;
}

.search-result-row .annotations {
    background: url(../images/ic-annotate-title.png) no-repeat 0px 0px;
    opacity: 1;
}

.search-result-title{
    width: calc(100% - 42px);
    float: left;
    margin-bottom: 18px;
}


.right-column-view {
    font-size: 12px;
    float: right;
    overflow-y: auto;
    width: 21%;
    border-left: 1px solid #DCDFE2;
    height: 88vh;
}

.annotation-sort {
    margin: 0 18px 20px;
}

.annotation-sort > span {
    font-size: 12px;
    color: #fff;
    display: inline-block;
    margin-right: 10px;
    background: #C5C5C5;
    line-height: 28px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    position: relative;
    padding: 0 20px;
    cursor: pointer;
}


.annotations-topic-list span {
    color: #217B49;
    display: inline-block;
    cursor: pointer;
    margin: 0 13px 13px 0;
}

.pdf-zoom-options {
    margin: 12px 0;
}

.pdf-zoom-options > span {
    font-size: 12px;
    float: left;
}

.pdf-zoom-options > div {
    background: url(../images/ic-zoom-bar.png) repeat-x 0 0;
    float: right;
    width: 88px;
    margin-left: 15px;
}

.pdf-zoom-options span[class*="scale-"] {
    text-indent: -9999px;
    float: left;
    margin-right: 24px;
    background-color: transparent;
    width: 6px;
    margin-left: 6px;
}

.pdf-zoom-options span[class*="scale-"]:nth-child(2) {
    margin-right: 19px;
}

.pdf-zoom-options span[class*="scale-"]:last-child {
    margin-right: 0;
}

.pdf-zoom-options span.scale-selected {
    position: relative;
}

.pdf-zoom-options span.scale-selected:before {
    content: "";
    position: absolute;
    top: -3px;
    left: -2px;
    width: 10px;
    height: 10px;
    background: #217B49;
    border-radius: 50%;
}

#annotation-sort-by {
    background-color: #4797DF;
    border-radius: 11px;
    color: #fff;
    border: 0;
    font-size: 12px;
    height: 22px;
}

.metadata-country, .metadata-signature-year, .metadata-type-contract, .metadata-resource, .metadata-ocid {
    font-size: 12px;
    margin-bottom: 16px;
}

.metadata-country, .metadata-signature-year, .metadata-type-contract, .metadata-resource, .metadata-ocid {
    border-bottom: 1px solid #C5C5C5;
    border-bottom: 1px solid rgba(197, 197, 197, 0.3);
    padding-bottom: 16px;
}

.metadata-country span:first-child, .metadata-signature-year span:first-child, .metadata-type-contract span:first-child, .metadata-resource span:first-child, .metadata-ocid span:first-child {
    color: rgba(64, 64, 64, 0.7);
    display: block;
}

.metadata-view div:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.metadata-show-more {
    display: none;
}

.relateddocument-view, .relateddocument-more-view, .other-sources-view {
    padding: 0 18px;
}

.relateddocument-more-view {
    line-height: 18px;
}

.relateddocument-view > div:first-of-type, .relateddocument-more-view > div:first-of-type, .other-sources-view > div:first-of-type {
    margin-top: 10px;
    font-weight: bold;
}

.link {
    cursor: pointer;
}

.relateddocument-view span {
    display: block;
}

.relateddocument-more-view a::after {
    margin-right: 8px;
    content: ",";
}

.relateddocument-more-view a:last-child::after {
    display: none;
}

.text-viewer-warning {
    margin: 10px 0 10px 15px;
    color: #9F6000;
    background-color: #FEEFB3;
    padding: 7px;
    border-radius: 4px;
    font-size: 12px;
}

.text-viewer-warning > .close {
    font-weight: bold;
    font-size: 16px;
}

.no-contract-error {
    margin: 10px 0 10px 10px;
    font-size: 12px;
    background-color: rgba(224, 118, 118, 0.45);
    padding: 5px;
}

.annotations-topic-list > .selected-topic {
    background-color: rgb(198, 241, 204);
}

.annotations-list-footer {
    padding-left: 20px;
    clear: both;
}

.annotations-list-footer > a {
    padding-right: 10px;
}

.metadata-view-footer > a {
    font-size: 12px
}

.annotation-item-page {
    color: rgba(64, 64, 64, 0.5);
    margin-bottom: 8px;
}

.annotation-item-content > span:empty, .annotation-item-content > a:empty {
    display: none;
}

.annotation-viewer-category {
    padding: 0 0 6px !important;
    color: rgba(64, 64, 64, 0.7) !important;
    font: 13px normal "open-sans-regular" !important;
}

.annotation-viewer-category + span {
    font-size: 12px;
    font-style: normal;
}

.annotator-item div:empty {
    display: none;
}

.search-highlight-word {
    background-color: #FFFAC0;
}

#content {
    min-height: 400px;
}

.title-wrap > span {
    padding: 20px 13px;
}

.back-to-top {
    position: absolute;
    bottom: 65px;
    right: 15px;
    display: none;
}

.annotation-item-page{
    float: left;
    display: inline-block !important;
    width: auto !important;
}

.annotation-item-preamble {
    padding-left: 10px;
    margin-bottom: 2px;
    color: #666;
}

.annotation-item-content {
    margin-bottom: 10px;
}

.relateddocument-view a {
    display: block;
    margin: 5px 0px;
}

.annotations-viewer {
    float: left;
    width: 25%;
    position: relative;
    border-right: 1px solid #DCDFE2;
    background: #f0f0f0;
}

.annotation-inner-viewer {
    height: 87vh;
    overflow-y: scroll;
}

@media all and (max-width: 900px) {
    .document-wrap {
        display: block;
    }

    .navbar-header {
        float: left;
    }
}

@media all and (max-width: 800px) {
    .text-search-container,.navigation {
        width: 100%;
    }

    .pagination {
        margin-left: 180px;
        margin-top: -40px;
    }

    .pdf-zoom-options {
        margin: -30px 0 0 320px;
    }
}

@media all and (max-width: 720px) {

    .title-wrap > span {
        width: 75%;
    }
}

@media all and (max-width: 600px) {
    .title-wrap > span {
        width: 62%;
    }
}


@media all and (max-width: 480px) {
    .pdf-zoom-options {
        display: none!important;
    }
}

/* ------ responsive for panel title at top ------- */

@media all and (max-width: 768px){
    .attached-top-wrapper  .panel-title{
        font-size: 20px;
        line-height: 26px;
        margin: 0 0 14px 35px;
    }

    .attached-top-wrapper #show-full-title{
        margin: 0 0 14px 30px;
    }

    .attached-top-wrapper .has-no-backbtn + .panel-title{
        margin: 0 0 14px 0px !important;
        width: 100%;
    }

    .attached-top-wrapper .action-links {
        margin: 8px 0px 9px 20px;
    }

    .action-links ul li a{
        padding: 10px 22px 10px 45px;
    }

    .panel-top-content{
        padding: 0  15px;
        position: relative;
    }

    .attached-top-wrapper .left-top-content {
        width: calc(100% - 188px);
    }

    .attached-top-wrapper .back {
        background-position: 12px -538px;
    }

    .annotation-category-cluster{
        display: none !important;
    }

}

.pdf-zoom-options {
    padding: 9px 0 8px;
}

/* style for view contract summary page */

.head-wrap .right-column-view > div {
    float: left;
}

.head-wrap .right-column-view {
    min-height: 47px;
    height: auto;
    float: right;
    padding-left: 15px;
    overflow: visible;
}

.page-contract{
    .head-wrap {
        min-height: 47px;
    }

    .download-main-wrap {
        width: auto;
        border: none;
    }

    .download-wrap {
        background: url(../../images/ic-sprite.png) no-repeat -168px -50px;
        padding: 0;
        height: 20px;
        width: 24px;
        margin-top: 12px;
        display: inline-block;
    }

    .right-column-view .social-share {
        float: left;
        position: relative;
        right: auto;
        bottom: auto;
    }
}


/* --------- responsive for contract view --------- */

@media all and (max-width: 1225px) {
    .navigation a {
        text-indent: -9999px;
        padding-left: 34px;
    }
}

@media all and (max-width: 800px) {
    .navigation {
        width: auto;
    }

    .text-search-container {
        width: 100%;
        border-right: none;
        border-bottom: solid 1px #E7E9EB;
    }

    .navigation a:nth-last-child(-n+3) {
        display: inline-block;
    }

    .pagination {
        margin: 9px 10px 9px 10px;
        position: relative;
        min-width: 100px;
    }

    .head-wrap .right-column-view{
        width: auto;
        float: left;
    }

    .pdf-zoom-options {
        border-right: none;
    }

    .text-search {
        background: #fff;
        border-radius: 4px;
        width: calc(100% - 0px);
        padding: 10px 32px;
        line-height: 27px;
        float: right;
    }

    .text-search:before {
        margin-top: 3px;
    }

    .head-wrap {
        position: relative;
        background: #fff;
    }

    .tools {
        margin-top: -44px;
    }

    .document-wrap {
        display: block;
    }

    .annotations-list {
        border: none;
        .annotation-loading {
            margin: 0;
            background: #fff;
            border: none;
        }
    }
    .annotations-viewer, .pdf-annotator, .right-column-view, .text-panel, .search-results-list {
        width: 100%;
        float: none;
    }

    .navbar-header {
        float: left;
    }

    .text-panel, .pdf-annotator {
        margin: 20px 0;
        border-left: 20px solid #f0f0f0;
        border-right: 20px solid #f0f0f0;
        clear: both;
    }

    .tools {
        float: right !important;
    }

    .annotation-inner-viewer {
        height: 100%;
        overflow: auto;
    }
}

@media all and (max-width: 720px) {

    .title-wrap > span {
        width: 75%;
    }
}

@media all and (max-width: 600px) {
    .title-wrap > span {
        width: 62%;
    }
}

@media all and (max-width: 540px) {
    .pdf-zoom-options {
        display: none !important;
    }
}

@media all and (max-width: 480px){
    .panel-top-content {
        padding: 0 15px;
        //overflow: visible;
    }

    .attached-top-wrapper .left-top-content{
        width: calc(100% - 117px);
    }

    .attached-top-wrapper .action-links{
        margin: 8px 0px 9px 15px;
    }

    .action-links ul li a{
        background: $color_link_color !important;
        padding: 10px 12px;
        font-size: 10px;
    }

    .text-search{
        padding: 10px 15px;
    }

}