$color-base: #fff;

// .img-intro {
//     background-image: url({{$image_intro}});
// }

body {
    &[lang='ar'] {
        .navbar {
            flex-direction: row-reverse;

            &-right,
            &-right ul {
                flex-direction: row-reverse;
            }
        }
    }
}

a {
    color: $color-primary;

    &:hover {
        color: $color-primary;
    }

    &:focus {
        text-decoration: none;
    }
}

.navbar-right {
    @media all and (min-width: 420px) {
        display: flex;
    }

    @media all and (min-width: 600px) {
        padding-right: 30px;
    }

    ul li a {
        &.active {
            background-color: $color-primary;
        }
    }
}

.guide-link {
    a:hover {
        color: $color-primary;
        text-decoration: none;
    }

    @media all and (min-width : 420px) {
        padding: 0 10px 0;
    }
}

#sidebar-wrapper {
    background: #163940;
}

.sidebar-nav li:not(.sidebar-brand)>a:hover,
.sidebar-nav li a.active {
    background: $color-primary;
}

.hero-image:before {
    background-image: $gradient-base;
}

.hero-image .search-form .search-button {
    background: $color-primary;
    border: solid 1px $color-primary;
}

.annotation-wrap .slick-dots .slick-active button {
    background: $color-primary;
}

.get-started h3 a:hover {
    &:after {
        margin-left: 15px;
    }

    @media all and (min-width: 600px) {
        &:after {
            margin-left: 22px;
        }
    }
}

.count {
    &-search {
        background-color: $color-primary;
    }
}

.explore-contracts {
    background-color: #1d6690;

    .map-wrapper {
        padding: 60px 0 0;

        h2 {
            color: rgba($color-base, 0.7);
            font: 18px 'Open-Sans-Light';
            margin-bottom: 20px;
            text-align: center;
            text-shadow: none;
        }

        @media all and (min-width: 768px) {
            font-size: 22px;
        }

        @media all and (min-width: 768px) {
            h2 {
                font-size: 32px;
                margin-bottom: 50px;
            }
        }

        @media all and (min-width:1280px) and (min-height: 740px) {
            margin-bottom: -60px;
        }
    }
}

#map {
    max-height: initial !important;
}

.map-wrap #map {
    transform: scale(0.95);

    @media all and (min-width: 1200px) {
        transform: scale(0.9);
    }
}



.map-wrap path {
    stroke: #356f90;
}

.olc footer {
    background-color: #154a85;
}

.not-front {
    .navbar {
        display: block;
        min-height: 82px;
    }

    .navbar-right {
        border-left: 1px solid #e7e9eb;
        padding-left: 30px;
        padding-right: 0;

        .form-group {
            margin-bottom: 0;
            width: 100%;
        }
    }

    .menu-list {
        margin-top: 15px !important;
    }

    .navbar-brand {
        color: $color-primary;

        span {
            color: rgba(64, 64, 64, 0.7);
        }

        &:hover {
            color: $color-primary;
        }
    }
}

.back {
    background-color: $color-primary;
}

.btn-form-search,
.btn-compare {
    background: $color-primary;

    &:hover {
        background: darken($color-primary, 5%) !important;
    }
}

.btn-form-reset {
    background: #777;
}

.advance-filter-wrapper .social-share>a,
.actions-wrapper .social-share>a,
.modal-social-share-wrap>a,
.download-csv a,
.annotations-topic-list span {
    color: $color-primary;
}

.download-csv,
.actions-wrapper a.download-wrap,
.advance-filter-wrapper .social-share,
.actions-wrapper .social-share {
    border-color: rgba($color-primary, 0.2);
}

.language-selector ul li a.active,
.annotations-topic-list>.selected-topic {
    background: $color-primary;
}

.search-input-wrapper input[type='checkbox']:checked {
    background: $color-primary;
    border: 1px solid $color-primary;
}

.action-links ul li a,
.action-links ul li a.view-summary-btn {
    background-color: $color-primary;

    &:hover {
        background-color: darken($color-primary, 5%);
    }
}

.annotation-sort>.active {
    background: $color-primary;

    &:after {
        border-color: $color-primary;
    }
}

.annotation-inner-viewer {
    height: calc(100vh - 198px) !important;
    overflow-y: auto !important;
}

.back-to-top {
    bottom: 40px !important;
    background: #3eb894;
    border-color: #3eb894;
    padding: 6px 10px;

    &:hover {
        background: darken($color-primary, 5%);
        border-color: darken($color-primary, 5%);
    }
}

.annotation-category-cluster>ul>li a {
    &:hover {
        background: $color-primary;
    }

    &.active {
        background: $color-primary;

        &:after {
            border-left-color: $color-primary;
        }
    }
}

.view-all-annotations a:hover {
    color: inherit;
}

.not-found {
    &-wrapper {
        background-image: $gradient-not-found;
    }

    &-container {
        background-image: $img-not-found;
    }
}

.isolate {
    padding: 0 5px 0 20px;

    a {
        border-bottom: 4px solid transparent;
        color: rgba(0, 0, 0, 0.3);
        display: inline-block;
        font-size: 15px;
        padding: 0 20px 5px;

        &:hover {
            color: rgba(0, 0, 0, 0.6);
            text-decoration: none;
        }
    }

    &.active {
        a {
            border-color: $color-primary;
            color: #000;
        }
    }
}

.other-document {
    background: rgba($color-primary, 0.05);
    border: 0 !important;
    padding-left: 50px !important;
}

.table-contract tbody td.documentTitle {
    background: url(../../images/ic-file.png) no-repeat 10px 20px;
}

.table-contract td.associate {
    padding-left: 50px !important;
}

@media all and (max-width: 767px) {
    .table-contract {
        td.documentTitle {
            padding-left: 30px !important;
        }

        td.associate {
            padding-left: 20px !important;
        }

        td.documentTitle.parent:before {
            top: 10px !important;
        }

        tr {
            box-shadow: none;

            &.in {
                border-top: 0 !important;
                display: block;
                margin-left: 20px;
            }
        }
    }
}

.partner-inner-each a img {
    opacity: 0.5;
}

.lang-ar {
    .navbar-header {
        flex-direction: row-reverse;
    }

    .get-started h3 a {
        &::after {
            margin-right: 9px;
            transform: scale(0.75) rotate(180deg);
            transition: margin-right 0.3s ease-in-out;
        }

        &:hover {
            &:after {
                margin-right: 15px;
            }
        }

        @media all and (min-width: 600px) {
            &:after {
                margin-right: 16px;
                transform: scale(1) rotate(180deg);
            }

            &:hover {
                &:after {
                    margin-right: 22px;
                }
            }
        }
    }

    .annotation-wrapper .view {
        bottom: 90px;
    }

    .view:after {
        float: left;
        transform: rotate(180deg);
    }

    @media all and (max-width: 768px) {
        .landing_section_logos>div {
            width: 100%;
        }
    }

    @media all and (min-width: 768px) {
        .hero {
            &-wrap {
                padding-left: 0;
                padding-right: 20px;
            }

            &-title {
                padding-left: 40px;
                padding-right: 0;
            }
        }

        .annotation-wrapper {
            border-radius: 16px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .landing_section_logos .donors a {
            margin-left: 0 !important;
            margin-right: 25px !important;
        }
    }
}

#open_adv_search {
    color: rgb(192, 192, 192) !important;
    font-size: 12px !important;
}

#close_adv_search {
    color: rgb(192, 192, 192) !important;
    font-size: 12px !important;
}

.table-contract tbody td.documentTitle {
    background: url(../../images/ic-file.png) no-repeat 10px 20px;
}

.partner-inner-each a img {
    opacity: 0.5;
}

.table-contract tbody td.documentTitle.parent {
    @media (max-width: 480px) {
      padding-left: 26px !important;
      
      &:before {
          top: 14px !important;
          left: 0px;
      }
    }
  }
