// colors
$color_link_color: #217B46;
$color_link_hover_color: #1C7041;
$black_50: rgba(0, 0, 0, 0.5);
$color_cod_gray_approx: #0a0b09;
$color_rangitoto_approx: #323e1f;
$color_yellow_green_approx: #b7df74;
$color_olivine_approx: #94ba63;

// gradient
$linear_gradient_1: linear-gradient(-81deg, $color_cod_gray_approx 1%, $color_rangitoto_approx 100%);
$radial_gradient_1: radial-gradient(50% 79%, $color_yellow_green_approx 32%, $color_olivine_approx 79%);

// url
$url_1: url(../../images/olc/ic-home-bg.jpg);
$url_9: url(../../images/olc/ic-title-bg.png);
$url_10: url(../../images/olc/ic-folder.png);
$url_14: url(../../images/olc/error-bg.png);



.download-csv {
	border: 1px solid rgba(33,123,73,0.2)!important;
}

.row-top-content {
	background: rgba(64,64,64,0.8);
	border-radius: 4px;
	padding-top: 56px!important;
	padding-bottom: 30px!important;
}

.tagline {
	text-shadow: 0 2px 4px rgba(0,0,0,0.1);
	span {
		text-shadow: 0 2px 4px rgba(0,0,0,0.4);
	}
}

.row-top-content .form-control {
  &::-webkit-input-placeholder {
    color: #fff!important;
  }
}

@media all and(max-width: 480px) {
	.row-top-content {
		margin-left: 0!important;
		margin-right: 0!important;
		border-radius: 0!important;
	}
}

@media all and(min-width: 380px) {
  .row-top-content {
    margin: 152px 40px 200px;
  }

  .tagline span {
  	font-size: 56px!important;
  	line-height: 70px!important;
  }
}

@media (min-width: 768px) {
	.tagline span {
	    font-size: 68px!important;
	}
}

@media (min-width: 830px) {
	.homepage-wrapper > .col-md-9 {
	    width: 830px;
	}
}

.homepage-wrapper > .col-lg-8 {
	padding: 0;
}