/* ----------- media queries here after ------------- */

.search-input-wrapper{
  .col-lg-12{
    max-width: 960px;
  }
}

@media all and (max-width: 1024px) {
  .input-wrapper label{
    font-size: 13px;
    line-height: 19px;
  }
}

@media (min-width: 768px){
  .search-input-wrapper .col-lg-12{
    max-width: 700px;
  }
}

@media (min-width: 1024px){
  .search-input-wrapper .col-lg-12{
    max-width: 960px;
  }
}

@media (min-width: 1530px){
  .search-input-wrapper .col-lg-12{
    max-width: 1400px;
  }
}

@media (min-width: 800px){
  #table-annotation {
    padding: 0;
    border: solid 4px red;
  }
}

@media(max-width: 800px){
  .search-list-wrapper {
    margin-top: 40px;
    border-top: solid 1px #eaeaea;
    padding-top: 0;
  }

  .page-clip .action-btn{
    margin-right: 0;
  }

  #clip-annotation-list{
    padding-top: 15px;
  }

}

@media (min-width: 768px){
  .page-search .filter-wrapper{
    min-height: 0 !important;
    border-bottom: none;
  }
}

@media (max-width: 768px){

  .search-input-wrapper{
    top: 67px;
  }

  .hide--small-screen{
    display: none;
  }

  nav .form-group.hide--small-screen{
    display: block;
  }

  nav .search-input-wrapper .col-lg-12 .btn-form-reset{
    margin-top: 15px;
  }

  .right-header-section,.search-input-wrapper{
    width: 100% !important;
    clear: both;
    float: none;
  }

  .contract-number-wrap {
    width: 100%;
    border-radius: 0;
    border: 0;
    left: 0;
    top: 129px;
    height: auto;
    padding: 5px;
    background: #f3f3f3;
    border-bottom: 1px solid #e7e9eb;

    span {
      display: inline-block;
      font-size: 22px;
    }
  }

  .contract-number-wrap{
    display: block !important;
    z-index: 88;
  }

  .country-list-wrap{
    padding: 40px 0 30px  !important;
  }

  .page-countries,.page-resource,.page-contracts{
    .contract-number-wrap {
      position: static;
      top: auto;
      left: auto;
      right: auto;
    }
  }

  .page-countries,.page-resource {
    .attached-top-wrapper {
      padding-bottom: 40px;
      border-bottom: solid 1px  rgba(188, 188, 188, 0.5);
    }
  }

  .page-countries{
    .download-csv,.filter-country-wrap ~ .download-csv {
      right: 20px;
      bottom: -105px;
    }
  }

  .page-resource{
    .attached-top-wrapper .download-csv{
      bottom: -22px;
      right: 20px;
    }
  }

  .relative--small-screen{
    position: relative;
    .contract-number-wrap{
      top: 0;
    }
  }

  .advance-filter-wrapper{
    position: relative;
    padding-top: 44px;
  }

  .download-csv,.actions-wrapper .download-main-wrap {
    right: 15px !important;
  }

  .advance-filter-wrapper .social-share,
  .actions-wrapper .social-share{
    right: 149px;
  }


  .remove-buffer-side{
    padding: 0;
  }


  .filter-wrapper .clip-btn{
    right: 269px;
  }

  #countries{
    padding: 30px 0 !important;
  }

  .country-list-wrap .col-lg-2, .country-list-wrap .col-lg-3 {
    margin-top: 20px;
    min-height: 140px;
    display: inline-block;
    float: none;
    width: 49%;
  }
}

@media  all and (max-width: 600px) {
  .download-dropdown ul{
    left: auto;
    right: 0;
  }
}

@media all and (max-width: 500px){
  #print-clip-filter,#save-clipping{
    display: none;
  }
}

@media all and (max-width: 480px){

  .navbar-right{
    padding-left: 15px;
  }

  .btn-navbar-search,
  .btn-navbar-search:hover, .btn-navbar-search:active{
    margin: 18px 0;
  }

  .search-form .form-control{
    width: calc(100% - 26px);
    padding: 20px 0;
  }

  .search-input-wrapper{
    top: 57px;
    padding: 20px 0;

    .col-lg-12{
      padding: 0;
    }
  }

  .table > tbody > tr td{
    padding-right: 0;
  }

  .filter-country-wrap {
    .form-group{
      padding: 0;
    }

    .search-form input{
      padding: 15px 2px;
      width: calc(100% - 43px);
    }
  }

  .btn-filter-search{
    background: url(#{$img-path}/ic-sprite.svg) no-repeat -356px -398px;
    height: 20px;
    margin-top: 12px;
    margin-left: 15px;
  }

}

