/* ------ style for home page ------ */

.lang-ar {

  .country-flag{
    margin-left: 10px;
  }
  
  /* ------- style for sidebar ------- */

  #sidebar-wrapper {
    .pull-right {
      float: left !important;
    }

    .pull-left {
      float: right !important;
    }
  }

  .sidebar-nav li.contracts a {
    background-position: right 32px top 15px;
    padding: 12px 58px 12px 14px;
  }

  .search-form .form-control,
  .attached-top-wrapper .panel-title {
    text-align: left;
  }

  /* ------- common style --------- */

  .social-share ul li > a {
    text-indent: 9999px;
  }

  /*style for contract page*/

  .text-search input {
    padding: 2px 0 2px 8px;
    text-align: left;
  }

  .annotation-inner-viewer .annotation-title {
    background-position: top 21px right 0;
    padding-right: 32px;
    padding-left: 0;
  }

  .metadata-view > div:first-child {
    padding: 20px 0px 14px 0px;
    &:before {
      float: right;
      margin-left: 6px;
      margin-right: 0;
    }
  }

  .annotations-list {
    direction: ltr;
  }

  /* ------- style for contract detail page ------- */

  .panel-title, .annotation-left,
  .annotation-text, .annotation-page {
    direction: ltr;
  }

  /* ------- style for table --------- */

  .table > thead > tr > th {
    text-align: right;
    padding: 8px 10px 8px 44px;
  }

  .table-contract tbody td:first-child {
    background-position: right 32px top 18px;
  }

  .table tr td:nth-child(2) {
    direction: ltr;
  }

  /* -------- style for footer --------- */

  .footer-left-wrap li:first-child {
    border-left: 1px solid #fff;
    border-left: 1px solid rgba(255, 255, 255, 0.7);
    padding-left: 4px;
    margin-left: 4px;
  }

  .footer-left-wrap li:last-child {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
  }

  .footer-right-wrap li:last-child {
    margin-left: 0;
  }

  .footer-right-wrap li:first-child {
    margin-left: 24px;
  }
}
/* style with media query */

@media (min-width: 768px){
  .lang-ar{

    .contract-search-form .form-control {
      float: right !important;
      border-radius: 0 4px 4px 0;
      margin-left: 0;
    }

    .btn-search {
      float: right;
      border-radius: 4px 0 0 4px;
    }

    &.page-search .advance-filter-wrapper .social-share,
    &.page-search .actions-wrapper .social-share {
      right: 326px;
    }
  }

}

@media (max-width: 768px) {
  .lang-ar{
    .advance-filter-wrapper .social-share,
    .actions-wrapper .social-share {
      right: 158px;
    }
  }
 
}

