$color-primary: #f37456;

.custom-switch {
    display: inline-block;
    transform: scale(0.5);
    font-size: 16px;

    input[type="checkbox"] {
        margin: 0;
        position: relative;
        display: inline-block;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: transparent;
        height: 2em;
        width: 4em;
        font-size: 2em;
        border-radius: 1.5em;
        background-color: #777;
        border-color: transparent;
        background-clip: padding-box;
        color: white;
        vertical-align: middle;
      
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 50%;
            background-color: white;
            border-radius: 100%;
            border: 0.125em solid transparent;
            background-clip: padding-box;
            transform-origin: right center;
            transform: translateZ(0);
            backface-visibility: hidden;
            animation: switch-off-transform 0.25s ease-out forwards;
            z-index: 2;
        }
          
        &::after {
            position: absolute;
            left: 0.5em;
            top: 0.4em;
            line-height: 1.8;
            font-size: 23px;
            text-transform: uppercase;
            content: "and or";
            letter-spacing: 0;
            word-spacing: 5px;
            z-index: 1;
        }
      
        &:focus {
            color: white;
            border-color: transparent;
            background-color: #777;
            outline: none;
        }
          
        &:checked {
            color: white;
            background-color: $color-primary;
            border-color: transparent;
            &::before {
                transform-origin: left center;
                animation: switch-on-transform 0.25s ease-out forwards;
                width: unset;
                height: unset; 
                top: 0;
                left: 0;
                background: unset;
                background-color: #fff;
                background-clip: padding-box;
            }
        }
    }
}

  
  
@keyframes switch-on-transform {
    0% {transform: translateX(0) scaleX(1) translateZ(0);}
  25% {transform: translateX(0) scaleX(1.33) translateZ(0);}
  100% {transform: translateX(100%) scaleX(1) translateZ(0);}
}
 
  
@keyframes switch-off-transform {
    0% {transform: translateX(100%) scaleX(1) translateZ(0);}
    25% {transform: translateX(100%) scaleX(1.33) translateZ(0);}
    100% {transform: translateX(0) scaleX(1) translateZ(0);}
}