$color-primary: #f37456;

$gradient-base: linear-gradient(
  180deg,
  #131317 -60.19%,
  rgba(65, 66, 99, 0.09) 100%
);

$gradient-not-found: radial-gradient(50% 79%, #f99172 32%, #df8a71 79%);

$img-sprite: url(../../images/ic_sprite.svg);

$img-not-found: url(../../images/error-bg.png);

@import "../new-style.scss";