$color-primary: #27ae60;

$gradient-base: linear-gradient(180deg, #131317 -60.19%, rgba(65, 66, 99, 0.09) 100%);

$gradient-not-found: radial-gradient(50% 79%, #b7df74 32%, #94ba63 79%);

$img-sprite: url(../../images/olc/ic_sprite.svg);

$img-not-found: url(../../images/olc/error-bg.png);

@import '../new-style.scss';

.trigger:before {
  filter: none;
}

.navbar-brand,
.navbar-brand:hover {
  color: #404040;

  span {
    color: #404040;
  }
}

.navbar-right ul li a {
  color: #404040;

  &:hover {
    color: #000;
  }
  &.active {
    color: #fff;
  }
}

.hero-image {
  margin-top: 0;
}

a:hover {
  text-decoration: none;
}

.download-btn {
  align-items: center;
  background-color: #30ad63;
  border-radius: 100px;
  border: 1px solid #30ad63;
  color: #ffffff;
  display: flex;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 24px;
  height: 80px;
  justify-content: center;
  margin: 50px auto;
  top: 80px;
  width: 400px;

  &:hover {
    background-color: #2c9e5a;
  }

  img {
    height: 18px;
    margin-right: 8px;
    position: relative;
    width: 20px;
  }
}
