$color-primary: #27AE60;

$gradient-base: linear-gradient(180deg, #131317 -60.19%, rgba(65, 66, 99, 0.09) 100%);

$gradient-not-found: radial-gradient(50% 79%, #b7df74 32%, #94ba63 79%);
 
$img-sprite: url(../../images/olc/ic_sprite.svg);

$img-not-found: url(../../images/olc/error-bg.png);


@import "../new-style.scss"; 