$color-primary: #f37456;

$gradient-base: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), #000000);

$gradient-not-found: radial-gradient(50% 79%, #f99172 32%, #df8a71 79%);

$img-sprite: url(../../images/ic_sprite.svg);

$img-not-found: url(../../images/error-bg.png);

@import "../new-style.scss";