// colors
$color_link_color: #217B46;
$color_link_hover_color: #1C7041;
$color_cod_gray_approx: #0a0b09;
$color_rangitoto_approx: #323e1f;
$color_yellow_green_approx: #b7df74;
$color_olivine_approx: #94ba63;
$flame-pea: #3c4a42;
$list-item: #1c8246;
$list-bg: #1a5d35;
$color_overlay_green: #3D891E;

$button: #279157;
$border: #217B49;
$green_back: #268F55;
$green: #257348;


$backgrund_brown: #796C58;


/* Rectangle 7: */

// gradient
$linear_gradient_1: linear-gradient(-81deg, $color_cod_gray_approx 1%, $color_rangitoto_approx 100%);
$radial_gradient_1: radial-gradient(50% 79%, $color_yellow_green_approx 32%, $color_olivine_approx 79%);

// url
$url_1: url(../../images/olc/ic-home-bg.jpg);
$url_9: url(../../images/olc/ic-title-bg.png);
$url_10: url(../../images/olc/ic-folder.png);
$url_14: url(../../images/olc/error-bg.png);
$url_19: url(../../images/olc/ic-switch.png);

@import "../main.scss";

.hero-image .search-form .search-button{
	background: #279157;
	box-shadow: inset 0 2px 5px 0 #217B49;
}

.petroleum-list .petroleum-list-inner{
	background: #E9FFF3;
}

.list-item-wrap {
	background: #268F55;
}

.img-intro{
	background-repeat: no-repeat;
	background-size: cover;
}

.row-top-content {
	background: rgba(64,64,64,0.8);
	border-radius: 4px;
	padding-top: 56px!important;
	padding-bottom: 30px!important;
}

.tagline {
	text-shadow: 0 2px 4px rgba(0,0,0,0.1);
	span {
		text-shadow: 0 2px 4px rgba(0,0,0,0.4);
	}
}

.row-top-content .form-control {
  &::-webkit-input-placeholder {
    color: #fff!important;
  }
}

@media all and(max-width: 480px) {
	.row-top-content {
		margin-left: 0!important;
		margin-right: 0!important;
		border-radius: 0!important;
	}
}

@media all and(min-width: 380px) {
  .row-top-content {
    margin: 152px 40px 200px;
  }

  .tagline span {
  	font-size: 56px!important;
  	line-height: 70px!important;
  }
}

@media (min-width: 768px) {
	.tagline span {
	    font-size: 68px!important;
	}
}

@media (min-width: 830px) {
	.homepage-wrapper > .col-md-9 {
	    width: 830px;
	}
}

.homepage-wrapper > .col-lg-8 {
	padding: 0;
}


a.parent_annotation_link {
	color: $color_link_hover_color;
}

.clip-head button {
	background: $url_19 no-repeat 0 -38px !important;
	&.active {
		background: $url_19 no-repeat 0 0 !important;
	}
}

.modal{
	input,textarea{
		&:focus{
			border-bottom: 1px solid $color_link_color !important;
			box-shadow: 0 1px 0 0 $color_link_color !important;

		}
	}

	input[type="submit"] {
		background-color: $color_link_color !important;
		&:hover{
			background-color: $color_link_hover_color !important;
		}
	}
}

