APP_ENV=${APP_ENV}
APP_DEBUG=${APP_DEBUG}
APP_LOCALE=en
APP_FALLBACK_LOCALE=en

#country settings
COUNTRY=${COUNTRY}

ELASTIC_SEARCH_HOST=${ELASTIC_SEARCH_HOST}
CATEGORY=${CATEGORY}
TRACKING_ID=${TRACKING_ID}
GTM_ID=${GTM_ID}

ADMIN_API_URL=${ADMIN_API_URL}

DB_CONNECTION=pgsql
DB_HOST=${DB_HOST}
DB_DATABASE=${DB_DATABASE}
DB_USERNAME=${DB_USERNAME}
DB_PORT=${DB_PORT}
DB_PASSWORD=${DB_PASSWORD}

AWS_KEY=${AWS_KEY}
AWS_SECRET=${AWS_SECRET}
AWS_REGION=${AWS_REGION}
AWS_BUCKET=${AWS_BUCKET}

MAIL_DRIVER=smtp
MAIL_HOST=${MAIL_HOST}
MAIL_PORT=${MAIL_PORT}
MAIL_USERNAME=${MAIL_USERNAME}
MAIL_PASSWORD=${MAIL_PASSWORD}
MAIL_ENCRYPTION=tls

ADMIN_EMAIL=${ADMIN_EMAIL}
CONTACT_MAIL=${CONTACT_MAIL}

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=database
