$img-path: "../images";

.navigation > a:nth-child(2) {
  background-position: -474px 13px;
}

.navigation > a:nth-child(3) {
  background: url(../images/ic-nav-annotate.png) no-repeat 16px 14px;
  display: none; /* hide metadata for large screen */
}

.navigation > a:nth-child(4) {
  background: url(../images/ic-nav-metadata.png) no-repeat 16px 14px;
  display: none; /* hide metadata for large screen */
}

.navigation {
  line-height: 46px;
  > a {
    color: rgb(64, 64, 64);
    background: url(../images/ic-sprite-new.png) no-repeat -388px 13px;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 15px 0 44px;
    opacity: 0.5;
    text-decoration: none;
    border-right: 1px solid #DCDFE2;
    display: inline-block;
    @media screen and (max-width: 1040px){
      width: 0;
    }
    &.active {
      opacity: 1;
    }

    &:last-child {
      //background-position: -474px 13px;
    }

    &:hover {
      opacity: 1;
      background-color: #f0f0f0;
    }

  }
}


.navigation > a.active {
  opacity: 1;
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
  background-color: #f0f0f0;
}

.pdf-annotator .annotator-hl {
  border: 2px solid #E7D530;
  background: transparent !important
}

.pagination {
  margin: 8px;
}

.pdf-pagination.pagination span,
.text-pagination span,
.pagination input[type="text"] {
  font-size: 11px;
  line-height: 17px;
}

.pagination input[type="text"] {
  width: 40px;
  height: 20px;
}

.pdf-zoom-options {
  padding: 7px 0 8px;
  border-right: 1px solid #DCDFE2;

  p {
    text-indent: -999px;
    overflow: hidden;
    height: 19px;
    width: 18px;
    vertical-align: middle;
    background: transparent url(#{$img-path}/ic-sprite.svg) -42px -79px no-repeat;
    margin: 0 0 0;
  }
}

.pdf-zoom-options > .btn-default {
  width: 20px;
  height: 20px;
  line-height: 18px;
  background: #fff;
}

.pdf-zoom-options > .btn-default a {
  line-height: 20px;
  display: block;
}

.pdf-zoom-options > span {
  font-size: 14px;
  margin-left: 11px;
  margin-top: 6px;
}

.pdf-zoom-options > .btn-default {
  background: #fff;
  border: 1px solid #ccc;
  text-align: center;
  margin: 5px 10px;
  padding: 0;
}

.pdf-zoom-options > .btn-default a {
  line-height: 20px;
  display: block;
}

.pdf-zoom-options span[class*="scale-"]:nth-child(2) {
  margin-right: 19px;
}

.pdf-zoom-options span[class*="scale-"]:last-child {
  margin-right: 0;
}

.pdf-zoom-options span.scale-selected {
  position: relative;
}

.pdf-zoom-options span.scale-selected:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.annotation-sort > .active:after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 45%;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.title-wrap {
  border-bottom: 1px solid rgb(220, 223, 226);
  border-bottom: 1px solid rgba(220, 223, 226, 0.7);
  width: 100%;
  background-color: #fff;
  color: #404040 !important;

  > span {
    padding: 20px 13px;
    float: left;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.head-wrap {
  border: none;
  //margin-top: -5px;
  background: #f9f9f9;
  min-height: 37px;
  border-bottom: 1px solid rgb(220, 223, 226);
  border-bottom: 1px solid rgba(220, 223, 226, 0.7);
  > div {
    float: left;
    font-size: 12px;
  }
}

.text-search-container {
  width: 25%;
  border-right: 1px solid #DCDFE2;
}

.text-search {
  background: #f9f9f9;
  line-height: 44px;
  float: left;
  width: 100%;
  padding-left: 12px;
  &:before {
    background: url(#{$img-path}/ic-sprite.svg) no-repeat no-repeat -354px -397px;
    content: "";
    width: 21px;
    height: 21px;
    display: inline-block;
    float: left;
    margin-top: 14px;
  }
}

.text-search form {
  float: left;
  width: 82%;
}

.text-search input {
  border: 0;
  background: transparent;
  width: 100%;
  margin-left: 0px;
  font-size: 13px;
  padding: 2px 0;
  padding-left: 10px;
}

.document-wrap {
  padding: 0;
  clear: both;
  overflow: hidden;
  background: #f0f0f0;
}

.pagination {
  display: block;
  padding-top: 4px;
  position: relative;
  z-index: 1;

  input[type="text"] {
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    color: rgba(64, 64, 64, 0.4);
    text-align: center;
    margin-top: 2px;
    margin-right: 4px;
  }

  .previous, .next {
    display: inline-block;
    text-indent: -9999px;
    background: url(../images/ic-sprite-new.png) no-repeat -194px -564px !important;
    height: 24px;
    width: 18px;
    padding: 0 !important;
  }
}

.pagination .next {
  background-position: -268px -564px !important;
}

.metadata-toggle-button span {
  background: #4797DF url(../images/metadata-trigger.png) no-repeat center;
  width: 56px;
  height: 44px;
  cursor: pointer;
  text-indent: -9999px;
  display: none;
}

.metadata-shown span {
  background-color: #404040;
}

.text-panel, .pdf-annotator {
  width: calc(54% - 30px);
  float: left;
  background: #fff;
  border-radius: 4px;
  margin: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.text-panel {
  padding: 15px 20px 15px 10px;
}

.pdf-annotator {
  padding: 15px 20px;
}

.pdf-annotator, .text-annotator {
  height: calc(88vh - 23px);
  position: relative;
  overflow: auto;
}

/*style for loading text*/

.message {
  text-align: center;
}

.message {
  &:empty {
    padding: 0;
  }
}

.text-viewer, .pdf-viewer {
  *:not('message') {
    text-align: left;
  }
}

.text-wrapper, .text-viewer-warning {
  margin-left: 25px;
}

.text-viewer > span {
  display: block;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
  padding: 10px;
  margin-right: 10px;
  .page_no {
    margin-left: -40px;
    width: 25px;
    font-family: Open-Sans-Bold;
    font-size: 11px;
    float: left;
    text-align: right;
    color: #6A6A6A;
  }
}

.search-results-list {
  font-size: 12px;
  position: relative;
  height: 87vh;
  overflow-y: scroll;
  float: left;
  background: #f0f0f0;
  padding: 18px;
  border-right: 1px solid #DCDFE2;
  width: 25%;

  .close {
    background: url(../images/ic-search-close.png) no-repeat center;
    width: 10px;
    height: 10px;
    text-indent: -9999px;
    display: block;
    padding: 10px;
    border-radius: 50%;
    opacity: 1;
    margin-top: -4px;
  }

  strong {
    font-style: normal;
    color: #000;
    font-family: Open-Sans-Bold;
  }
}

.annotations-viewer {
  padding: 0;
}

.annotation-title {
  margin: 0 20px;
  overflow: hidden;
}

.annotation-title, .metadata-view > div:first-child {
  font-size: 15px;
  background: url(../images/ic-annotate-title.png) no-repeat 1px 23px;
  text-transform: uppercase;
  padding: 20px 20px 14px 27px;
  margin-bottom: 20px !important;
  border-bottom: 1px solid #DCDFE2;
}

.annotation-item .category {
  color: rgba(64, 64, 64, 0.7);
  font-size: 12px;
  margin-bottom: 5px;
  padding-right: 35px;
}

#metadata {
  &.right-column-view {
    padding: 0 18px 15px;
    margin-bottom: 15px;
  }
  @media screen and (max-width:800px){
    height: auto;
  }
}

.metadata-view > div:first-child {
  background: transparent;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;

  &:before {
    content: "";
    background: url(../images/ic-sprite-new.png) no-repeat -407px -123px;
    width: 14px;
    height: 18px;
    float: left;
    margin-right: 6px;
    margin-top: 1px;
  }

  .metadata-view-footer {
    font-size: 10px;
    text-transform: none;
    padding: 5px 10px 20px;
  }
}

.annotation-item {
  font-size: 12px;
  border: 0;

  .annotation-category-en {
    cursor: pointer;
    color: rgba(64, 64, 64, 0.7);
    padding: 4px 0 0 0;
    font-family: "open-sans-bold";
  }

  .annotation-category-fr {
    font-style: italic;
    margin: 4px 0;
  }

  .annotation-item-content, .annotation-item-page {
    padding-left: 10px;
  }

  > span {
    display: inline-block;
    width: 90%;
    line-height: 18px;
  }

  .annotation-page {
    margin: 0 18px;
  }
}

.annotations-list {
  margin: 5px 18px;
}

.annotation-item .annotation-cluster,
div > .annotation-item:first-of-type .annotation-cluster {
  text-transform: uppercase;
  color: #404040;
  font-size: 13px;
  border-top: 1px solid rgb(201, 201, 201);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 7px;
  box-shadow: 0 -1px 0px rgba(201, 201, 201, 0.3);
}

.annotation-item:first-of-type .annotation-cluster,
.annotations-list > div:first-of-type .annotation-item:first-of-type .annotation-cluster {
  border: 0;
  box-shadow: none;
  padding-top: 0;
}

.annotations-list > .annotation-item:first-of-type .annotation-cluster {
  border: 0 !important;
  box-shadow: none !important;
  padding-top: 0 !important;
}

.search-results-list {
  padding: 18px;
}

.search-result-row,
.annotation-item {
  word-wrap: break-word;
  padding: 18px 0;
  clear: both;
  overflow: hidden;
  position: relative;

  &:not(:last-of-type) {
    border-bottom: 1px solid rgba(220, 223, 226, 0.7);
  }

  &.selected-annotation, &:hover {
    box-shadow: 18px 0 0 #dfdfdf, -18px 0 0 #dfdfdf;
    background: #dfdfdf;
  }
}

.search-no-found {
  text-align: center;
  padding: 15px 0;
  box-shadow: 18px 0 0 #dfdfdf, -18px 0 0 #dfdfdf;
  background: #dfdfdf;
}

.search-result-row {
  .link {
    width: calc(100% - 26px);
    display: inline-block;
  }

  .text, .annotations {
    background: url(../images/ic-sprite-new.png) no-repeat -402px 0px;
    text-indent: -9999px;
    float: right;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    position: absolute;
    top: 20px;
    right: 0;
  }
}

.search-result-row .annotations {
  background: url(../images/ic-annotate-title.png) no-repeat 0px 0px;
  opacity: 1;
}

.search-result-title {
  width: calc(100% - 42px);
  float: left;
  margin-bottom: 18px;
}

.annotation-sort {
  margin: 0 18px 20px;
}

.annotation-sort > span {
  font-size: 12px;
  color: #fff;
  display: inline-block;
  margin-right: 10px;
  background: #C5C5C5;
  line-height: 28px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  position: relative;
  padding: 0 20px;
  cursor: pointer;
}

.annotations-topic-list {
  margin: 12px 0 0;
  padding: 8px 0;
}

.annotations-topic-list span {
  display: inline-block;
  cursor: pointer;
  margin: 0 13px 9px 0;
  font-size: 12px;
  border-radius: 12px;
  padding: 2px 14px;
  background: #e5e5e5;
}

.pdf-loading {
  padding: 15px;
}

.pdf-zoom-options {
  margin: 12px 0;
  p {
    display: inline-block;
  }
}

.pdf-zoom-options > span {
  font-size: 12px;
  float: left;
}

.pdf-zoom-options > div {
  background: url(../images/ic-zoom-bar.png) repeat-x 0 0;
  float: right;
  width: 88px;
  margin-left: 15px;
}

.pdf-zoom-options span[class*="scale-"] {
  text-indent: -9999px;
  float: left;
  margin-right: 24px;
  background-color: transparent;
  width: 6px;
  margin-left: 6px;
}

.pdf-zoom-options span[class*="scale-"]:nth-child(2) {
  margin-right: 19px;
}

.pdf-zoom-options span[class*="scale-"]:last-child {
  margin-right: 0;
}

.pdf-zoom-options span.scale-selected {
  position: relative;
}

.pdf-zoom-options span.scale-selected:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -2px;
  width: 10px;
  height: 10px;
  background: #217B49;
  border-radius: 50%;
}

.pdf-zoom-options {
  border-left: 1px solid #DCDFE2;
  float: left;
  margin: 0;
}

.pdf-zoom-options + div {
  padding: 16px 10px 9px 0px;
}

.pdf-zoom-options + div {
  float: none;
}

.pdf-zoom-options > span {
  font-size: 12px;
  float: left;
}

.pdf-zoom-options p {
  display: inline-block;
}

#annotation-sort-by {
  background-color: #4797DF;
  border-radius: 11px;
  color: #fff;
  border: 0;
  font-size: 12px;
  height: 22px;
}

.metadata-ocid:last-of-type {
  border: 0px;
  padding: 0px;
}

.metadata-ocid a span {
  display: inline !important;
}

.metadata-info span {
  color: rgba(64, 64, 64, 0.7)
}

.metadata-info {
  font-size: 13px;
  padding: 18px 18px 10px;
}

.metadata-item, .metadata-inline {
  padding-bottom: 16px;
  margin-bottom: 16px;
  font-size: 12px;

  &:not(:last-of-type) {
    border-bottom: 1px solid #C5C5C5;
    border-bottom: 1px solid rgba(197, 197, 197, 0.3);
  }
}

.metadata-item, .metadata-inline {
  .key {
    color: rgba(64, 64, 64, 0.7);
  }

  nobr {
    display: inline-block;
  }
}

.metadata-item .key {
  display: block;
}

.metadata-item p, .metadata-inline p {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

.metadata-inline {
  p {
    display: inline;
  }

  .value, a {
    margin-left: 3px;
  }
}

.metadata-view div:not("popover-content"):last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.metadata-show-more {
  display: none;
}

.relateddocument-more-view, .other-sources-view {
  padding: 0 18px;
}

.relateddocument-more-view {
  line-height: 18px;
}

.relateddocument-view > div:first-of-type, .relateddocument-more-view > div:first-of-type, .other-sources-view > div:first-of-type {
  margin-top: 10px;
  font-weight: bold;
}

.link {
  cursor: pointer;
}

.relateddocument-view span {
  display: block;
}

.relateddocument-more-view a::after {
  margin-right: 8px;
  content: ",";
}

.relateddocument-more-view a:last-child::after {
  display: none;
}

.text-viewer-warning {
  margin-bottom: 10px;
  color: #9F6000;
  background-color: #FEEFB3;
  padding: 7px;
  border-radius: 4px;
  font-size: 12px;
}

.text-viewer-warning > .close {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  font-family: cursive;
}

.no-contract-error {
  margin: 10px 0 10px 10px;
  font-size: 12px;
  background-color: rgba(224, 118, 118, 0.45);
  padding: 5px;
}

.annotations-topic-list > .selected-topic {
  color: #fff;
}

.annotations-list-footer {
  padding-left: 20px;
  clear: both;
}

.annotations-list-footer > a {
  padding-right: 10px;
}

.metadata-view-footer > a {
  font-size: 12px
}

.annotation-item-page {
  color: rgba(64, 64, 64, 0.5);
  margin-bottom: 8px;
}

.annotation-item-content > span:empty, .annotation-item-content > a:empty {
  display: none;
}

.annotation-viewer-category {
  padding: 0 0 6px !important;
  color: rgba(64, 64, 64, 0.7) !important;
  font: 13px normal "open-sans-regular" !important;
}

.annotation-viewer-category + span {
  font-size: 12px;
  font-style: normal;
}

.annotator-item div:empty {
  display: none;
}

.search-highlight-word {
  background-color: #FFFAC0;
}

#content {
  min-height: 400px;
}

.title-wrap > span {
  padding: 20px 13px;
}

.back-to-top {
  position: absolute;
  bottom: 65px;
  right: 15px;
  display: none;
}

.annotation-item-page {
  float: left;
  display: inline-block !important;
  width: auto !important;
}

.annotation-item-preamble {
  padding-left: 10px;
  margin-bottom: 2px;
  color: #666;
}

.annotation-item-content {
  margin-bottom: 10px;
}

.relateddocument-view a {
  display: block;
  margin: 5px 0px;
}

.annotations-viewer {
  float: left;
  width: 25%;
  position: relative;
  border-right: 1px solid #DCDFE2;
  background: #f0f0f0;
}

.annotation-inner-viewer {
  height: 88vh;
  overflow-y: scroll;
}

.parent-contract {
  display: flex !important;
  align-items: center;
  font-weight: bold;
}

.parent-contract > span:last-of-type {
  font-size: 11px;
  margin-left: 4px;
  color: #888;
}

.annotation-item .category {
  color: rgba(64, 64, 64, 0.7);
  font-size: 12px;
  margin-bottom: 5px;
}

.annotation-item.selected-annotation {
  background-color: #dfdfdf;
}

.annotation-item .annotated-text {
  background: url(../images/ic-dark-annotate-bg.png) no-repeat 0 5px;
  font-size: 14px;
  line-height: 22px;
  padding-left: 18px;
  padding-right: 18px;
}

.annotation-item .annotation-item-content {
  padding-left: 0;
}

.child-contract {
  padding-left: 5pt;
  padding-right: 5pt;
}

.amla-legislation {
  margin: 10px 0px;
}

.metadataLoading {
  margin-bottom: 10px;
  display: block;
}

.loading p {
  text-indent: 0;
  line-height: 33px;
  margin: 0;
}

@media all and (max-width: 1040px) {
  .navigation > a:nth-child(n) {
    text-indent: -999px;
  }
}

@media all and (max-width: 900px) {
  .document-wrap {
    display: block;
  }

  .navbar-header {
    float: left;
  }
}

@media all and (max-width: 800px) {
  .text-search-container, .navigation {
    width: 100%;
  }

  .pagination {
    margin-left: 180px;
    margin-top: -40px;
  }
}

@media all and (max-width: 720px) {

  .title-wrap > span {
    width: 75%;
  }
}

@media all and (max-width: 600px) {
  .title-wrap > span {
    width: 62%;
  }

  .loading {
    top: 45%;
  }
}

@media all and (max-width: 480px) {
  .pdf-zoom-options {
    display: none !important;
  }
}

/* ------ responsive for panel title at top ------- */

@media all and (max-width: 768px) {
  .annotation-category-cluster {
    display: none !important;
  }

}

.pdf-zoom-options {
  padding: 9px 0 8px;
}

.tools .pdf-download-link {
  display: block;
  font-size: 0px;
  text-decoration: none;
  height: 44px;
  padding: 13px 25px 13px 30px;
  background: url(../../images/ic-sprite.png) no-repeat -152px -40px;
  border-left: 1px solid #ccc;
}

.download-pdf a {
  display: block;
  font-size: 12px;
  color: #F37356;
  text-decoration: none;
  padding: 13px 25px 13px 44px;
  background: url(../../images/ic-sprite.png) no-repeat -152px -40px;
}

.fixed .head-wrap {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.note-wrapper {
  background: #f9f9f9;
  padding: 20px 0;
  display: block;
  overflow: hidden;
  box-shadow: 18px 0 0 #f9f9f9, -18px 0 0 #f9f9f9;
}

.metadata-note {
  padding: 0 4px 3px 0 !important;
  font-family: "open-sans-bold";
  color: #666;
}

.note {
  display: block;
  margin-top: 0;
}

.note-inner-wrapper + a {
  float: right;
}

.note-inner-wrapper + a:focus {
  text-decoration: none;
}

.note-wrapper:empty {
  display: none;
}

.social-share {
  float: right;
  padding: 0;
  position: static;
  border: 0;
  background: transparent;
}

.social-share li {
  list-style: none;
  float: left;
  margin-right: 6px;
}

.social-share li a {
  display: block;
  text-indent: -9999px;
  width: 21px;
  height: 21px;
  /*background: url(../images/share-sprite.png) no-repeat -22px -40px;*/
}

.social-share li.twitter a {
  background-position: 0 -40px;
}

.social-share li a:hover {
  /*background-position: -22px 0;*/
}

.social-share li.google-plus a:hover {
  background-position: -50px 0;
}

.social-share li.twitter a:hover {
  background-position: 0 0;
}

/* --------- responsive for contract view --------- */

@media all and (max-width: 800px) {
  .navigation {
    width: auto;
  }

  .text-search-container {
    width: 100%;
    border-right: none;
    border-bottom: solid 1px #E7E9EB;
  }

  .navigation a {
    text-indent: -9999px;
    padding-left: 34px;
  }

  .navigation a:nth-last-child(-n+3) {
    display: inline-block;
  }

  .pagination {
    margin: 9px 10px 9px 10px;
    position: relative;
    min-width: 100px;
  }

  .fixed + .document-wrap {
    padding-top: 44px;
  }

  .head-wrap .right-column-view {
    width: auto;
    height: auto;
    >div{
      float: left;
    }

  }

  .pdf-zoom-options {
    border-right: none;
  }

  .text-search {
    background: #fff;
    border-radius: 4px;
    width: calc(100% - 0px);
    padding: 10px 32px;
    line-height: 27px;
    float: right;
  }

  .text-search:before {
    margin-top: 3px;
  }

  .head-wrap {
    position: relative;
    background: #fff;
  }

  .tools {
    margin-top: -44px;
  }

  .document-wrap {
    display: block;
  }

  .annotations-list {
    border: none;
    .annotation-loading {
      background: #fff;
      border: none;
      margin: 0 0 20px 0;
    }
  }
  .annotations-viewer, .pdf-annotator, .right-column-view, .text-panel, .search-results-list {
    width: 100%;
    float: none;
  }

  .navbar-header {
    float: left;
  }

  .text-panel, .pdf-annotator {
    margin: 10px 0;
    border-left: 20px solid #f0f0f0;
    border-right: 20px solid #f0f0f0;
    clear: both;
    box-shadow: none;
  }

  .tools {
    float: right !important;
  }

  .annotation-inner-viewer {
    height: 100%;
    overflow: auto;
  }
}

@media all and (min-width: 801px) {
  .text-panel, .pdf-annotator {
    width: calc(54% - 40px);
    margin: 20px;
  }
}

@media all and (max-width: 720px) {

  .title-wrap > span {
    width: 75%;
  }
}

@media all and (max-width: 600px) {
  .title-wrap > span {
    width: 62%;
  }
}

@media all and (max-width: 540px) {
  .pdf-zoom-options {
    display: none !important;
  }
}

@media all and (max-width: 480px) {

  .navigation a {
    border: none;
  }

  .attached-top-wrapper .left-top-content {
    width: calc(100% - 117px);
  }

  .attached-top-wrapper .action-links {
    margin: 12px 7px 9px 7px;
  }

  .action-links ul li a {
    padding: 7px 12px;
    font-size: 11px;
  }

  .text-search {
    padding: 10px 15px;
  }

}

@media all and (min-width: 481px) {
  .head-wrap {
    .right-column-view + .pagination {
      display: none;
    }
  }
}

@media all and (max-width: 480px) {
  .head-wrap {
    .navigation + .pagination {
      display: none;
    }

  }

  .navigation>a.active{
    background-color: #f5f5f5;
  }

  .right-column-view + .pagination {
    width: 100%;
    background-color: #f5f5f5;
    margin: 0;
    padding: 10px 14px;
    text-align: center;
    input[type="text"]{
      width: 20%;
      margin: 0 10px;
      height: 24px;
    }
    .next{
      margin-left: 10px;
    }
  }
}
.hidden_tab{
  @media  screen and (max-width: 800px){
    display: none;
  }
}

