.pdf-zoom-options span.scale-selected:before {
  background: $color_link_color;
}

.annotation-sort > .active {
  background: $color_link_color;
}

.annotation-sort > .active:after {
  border-top: 6px solid $color_link_color;
}

.search-results-list {
  .close{
    border: 2px solid $color_link_color;
    &hover {
      background: $color_link_color url(../images/ic-close-link.png) no-repeat center;
    }
  }
}

.annotations-topic-list span {
  color: $color_link_color;
}

.annotations-topic-list > .selected-topic {
  background-color: $color_link_color;
}

@media all and (max-width: 480px){
  .action-links ul li a {
    background: $color_link_color !important;
  }
}