body.country{
  .country-flag {
    display: inline-block !important;
    vertical-align: top;
    width: 20px;
    img {
      width: 20px;
      height: 18px;
      margin: 0 1px 2px 0;
    }
  }

  .navbar-brand span{
    font-size: 14px !important;
    width: auto;
  }

  .petroleum-mineral{
    max-width: 720px;
    width: auto;
    display: inline-block;
    padding: 50px;
    min-height: initial;
    .repo-description{
      font-size: 54px;
      line-height: 55px;
      font-family: Open-Sans-Light;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      color: #eee;
    }

    .large-title {
      >span{
        font-size: 54px;
        line-height: 55px;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        color: #eee;
      }
    }
  }

  .petroleum-list{
    display: none !important;
  }

  .petroleum-wrapper{
    position: relative;
  }

  .petroleum-wrapper:before {
    content:  "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0, 0.3);
  }
}


@media (max-width: 767px){
  body.country{
    .petroleum-mineral{
      .repo-description, .large-title > span{
        font-size: 42px;
        line-height: 45px;
      }
    }
  }
}

@media (min-width: 600px) {
  body.country .country-wrap {
    padding-bottom: 201px !important;
  }
}

@media (min-width: 992px) {
  body.country .petroleum-mineral {
    padding: 50px !important;
    margin: 0 auto 30px !important;
  }
}

@media (max-width: 600px){

  body.country .resource-wrap{
    padding: 50px 20px !important;
  }

  body.country .country-wrap{
    background-size: contain;
  }

  body.country .country-wrapper {
    background-size: contain;
    padding: 40px 20px !important;
  }

  .country-inner-wrap, .resource-inner-wrap{
    font: 40px/46px Open-Sans-Light;
  }

}

@media (max-width: 480px){
  body.country .country-wrapper {
    padding: 0 !important;
  }
}


