.lang-fr{
  .advance-filter-wrapper .social-share{
    right: 323px;
  }

  .attached-top-wrapper .left-top-content {
    width: -webkit-calc(100% - 250px);
    width: calc(100% - 284px);
  }
  #annotation-count{
    margin-right: 51px;
  }
}

.page-search.lang-fr .advance-filter-wrapper .social-share{
  //right: 355px;
}


.page-search.lang-fr .advance-filter-wrapper .static-search ~ .social-share{
  right: 176px;
}



